
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.dangnhap-PdK {
  height: 78rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 234, 181, 0.75);
  width: 100%;

  .content-YFK {
    width: 154.4rem;
    height: 100%;
    position: relative;

    .kawaii-food-cute-character-sticker-collection-free-vector-1-Hih {
      width: 79.8rem;
      height: 78rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .contentframe-QoK {
      background-color: #fcfdff;
      border-radius: 2.5rem 0 0 2.5rem;
      width: 80rem;
      height: 78rem;
      position: absolute;
      left: 74.4rem;
      top: 0;
    }
    .content-Y8q {
      width: 61.3236rem;
      height: 65.8356rem;
      position: absolute;
      left: 81.8372rem;
      top: 5.947rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-rum3-sB7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.6569rem;
        width: 100%;

        .title-cPb {
          font-size: 2.6rem;
          line-height: 1.5;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 2.4779rem;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          font-weight: 600;
        }
        .email-7r9 {
          margin: 0rem 0rem 1.075rem 0.003rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #657d95;
          font-family: Ponnala, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .emailinp-q1T {
          width: calc(100% - 0.0372rem);
          height: 4.9512rem;
          position: relative;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-right: 0.0372rem;

          .enter-your-email-here-xrm {
            width: 21rem;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(125, 125, 125, 0.5);
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 3rem;
            position: absolute;
            left: 4.0882rem;
            top: 1.2949rem;
            font-size: 2rem;
          }
          .input-Fay {
            top: 0;
            background-color: rgba(176, 186, 195, 0.400000006);
            border-radius: 2rem;
            width: 61.3236rem;
            height: 4.9512rem;
            position: absolute;
            left: 0;
          }
        }
      }
      .passwordinput-yWy {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        flex-shrink: 0;

        .mt-khu-jFF {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.692rem 0.003rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #657d95;
          font-family: Ponnala, 'Source Sans Pro';
        }
        .passwordinp-ESu {
          width: 100%;
          height: 4.9512rem;
          position: relative;
          border-radius: 2rem;
          flex-shrink: 0;

          .enter-your-password-here-Bd3 {
            font-size: 2rem;
            font-weight: 400;
            color: rgba(125, 125, 125, 0.5);
            width: 25.2rem;
            height: 3rem;
            position: absolute;
            left: 4.0882rem;
            top: 1.2949rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.5;
          }
          .input-5yK {
            width: 61.3236rem;
            height: 4.9512rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(176, 186, 195, 0.400000006);
            border-radius: 2rem;
          }
        }
      }
      .auto-group-kqyh-D3w {
        box-sizing: border-box;
        padding: 3.449rem 1.206rem 0rem 1.206rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .buttoncreateacc-L8Z {
          line-height: 1.2575;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          width: calc(100% - 28.9115rem);
          color: #000000;
          white-space: nowrap;
          background-color: #f9ed32;
          margin: 0rem 15.555rem 4.482rem 13.357rem;
          font-size: 2.6rem;
          justify-content: center;
          font-family: Ponnala, 'Source Sans Pro';
          display: flex;
          height: 4.5703rem;
          text-align: center;
          font-weight: 400;
        }
        .bn-cha-c-ti-khon-ng-k-ngay-b4V {
          font-size: 1.8rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          align-items: baseline;
          flex-shrink: 0;
          margin: 0rem 24.911rem 2.51rem 0rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          display: flex;
          cursor: pointer;

          .bn-cha-c-ti-khon-ng-k-ngay-b4V-sub-0 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #657d95;
            font-family: Poppins, 'Source Sans Pro';
          }
          .bn-cha-c-ti-khon-ng-k-ngay-b4V-sub-1 {
          }
          .bn-cha-c-ti-khon-ng-k-ngay-b4V-sub-2 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9ed32;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .or--yz9 {
          font-weight: 500;
          line-height: 1.5;
          color: #b0bac3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.213rem 0.094rem;
          font-size: 2.6rem;
        }
        .auto-group-vutx-WDP {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.695rem 12.518rem 2.967rem;
          width: calc(100% - 5.6622rem);
          height: 4.1895rem;
          display: flex;

          .buttongoogle-pUy {
            width: 22.4853rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 8.2787rem;

            .google-ZhT {
              height: 3.8086rem;
              position: absolute;
              left: 0.7154rem;
              top: 0.2285rem;
              object-fit: contain;
              vertical-align: top;
              width: 5.1103rem;
            }
            .sing-up-with-google-J9F {
              left: 6.7456rem;
              width: 14.1rem;
              height: 2.1rem;
              position: absolute;
              top: 1.2949rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #657d95;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .buttonframe-QTB {
              width: 22.4853rem;
              height: 4.1895rem;
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.1rem #657d95;
              box-sizing: border-box;
              border-radius: 1.5rem;
            }
          }
          .buttongithub-jkM {
            width: 22.4853rem;
            height: 100%;
            position: relative;
            border-radius: 1.5rem;
            flex-shrink: 0;

            .sing-up-with-fb-5pD {
              position: absolute;
              left: 6.7456rem;
              top: 1.2949rem;
              font-weight: 500;
              line-height: 1.5;
              color: #657d95;
              width: 10.6rem;
              font-size: 1.4rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.1rem;
            }
            .buttonframe-bXf {
              box-sizing: border-box;
              border-radius: 1.5rem;
              width: 22.4853rem;
              height: 4.1895rem;
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.1rem #657d95;
            }
            .icon-facebook-fill-icon-8Xb {
              width: 3.7rem;
              height: 3.189rem;
              position: absolute;
              left: 0.5254rem;
              top: 0.5887rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .made-with-by-tng-uy-S2V {
          margin-right: 2.5416rem;
          text-align: center;
          color: #657d95;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
    }
    .component-15-8vu {
      align-items: center;
      width: 30.7131rem;
      height: 4.8rem;
      position: absolute;
      left: 95.9075rem;
      top: 2.1228rem;
      display: flex;

      .component-13-fR3 {
        margin-right: 0.4199rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .rectangle-2-Cvm {
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.412rem 0.793rem 0rem 0rem;
          width: 3.7002rem;
          height: 3.088rem;
        }
        .transport-8Jd {
          line-height: 1.2;
          color: #f17228;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 4rem;
          font-weight: 700;
        }
      }
      .food-TLu {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        color: #ec3800;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
      }
    }
    .component-17-zrd {
      box-sizing: border-box;
      height: 47.7rem;
      top: 15.2rem;
      display: flex;
      flex-direction: column;
      padding: 0rem 0.666rem 6rem 4.434rem;
      width: 63.6rem;
      position: absolute;
      left: 8.1rem;
      align-items: flex-end;

      .component-16-VoP {
        margin: 0rem 1.208rem 11rem 1.524rem;
        width: calc(100% - 2.7323rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .transp-q6Z {
          margin-right: 3.8968rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #f17228;
          font-family: Ponnala, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 12rem;
          flex-shrink: 0;
        }
        .ellipse-2-xS5 {
          margin: 0.5rem 1.874rem 0rem 0rem;
          width: 7.5973rem;
          height: 7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rt-t4q {
          flex-shrink: 0;
          text-align: center;
          font-size: 12rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #f17228;
          font-family: Ponnala, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-zuqp-E8h {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .f-nR7 {
          line-height: 1.2575;
          white-space: nowrap;
          font-weight: 400;
          text-align: center;
          font-size: 12rem;
          color: #ec3800;
          font-family: Ponnala, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.5rem 9.666rem 0rem 0rem;
        }
        .ellipse-3-VaR {
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 7.649rem 2.6rem 0rem;
          width: 10.8511rem;
        }
        .ellipse-4-RU5 {
          margin: 0rem 6.781rem 2.6rem 0rem;
          width: 10.8532rem;
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .d-xD7 {
          text-align: center;
          font-size: 12rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ec3800;
          white-space: nowrap;
          margin-bottom: 0.5rem;
          flex-shrink: 0;
          font-family: Ponnala, 'Source Sans Pro';
        }
      }
    }
  }
}
