
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.dangky-1y3 {
  width: 100%;
  height: 78rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 234, 181, 0.75);

  .content-ju3 {
    height: 100%;
    position: relative;
    width: 100%;

    .kawaii-food-cute-character-sticker-collection-free-vector-1-tmw {
      vertical-align: top;
      width: 79.8rem;
      height: 78rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .group-23-oe1 {
      background-color: #fcfdff;
      border-radius: 2.5rem 0 0 2.5rem;
      width: 80rem;
      height: 78rem;
      position: absolute;
      left: 74rem;
      top: 0;

      .content-wkD {
        width: 56.8229rem;
        height: 65.7826rem;
        position: absolute;
        left: 12.3819rem;
        top: 6rem;

        .made-with-by-tng-uy-TiZ {
          height: 2.4rem;
          position: absolute;
          left: 17.8476rem;
          line-height: 1.1725;
          white-space: nowrap;
          width: 19.5rem;
          top: 63.3826rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #657d95;
          font-family: Roboto, 'Source Sans Pro';
        }
        .auto-group-ck45-XTX {
          left: 2.9349rem;
          top: 52.7947rem;
          display: flex;
          align-items: center;
          width: 49.3255rem;
          height: 4.1895rem;
          position: absolute;

          .buttongoogle-FPX {
            margin-right: 7.6686rem;
            width: 20.8284rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .google-zM7 {
              position: absolute;
              left: 0.6627rem;
              top: 0.2285rem;
              object-fit: contain;
              vertical-align: top;
              width: 4.7337rem;
              height: 3.8086rem;
            }
            .sing-up-with-google-uys {
              height: 2.1rem;
              position: absolute;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              width: 14.1rem;
              top: 1.3053rem;
              font-size: 1.4rem;
              font-weight: 500;
              color: #657d95;
              white-space: nowrap;
              left: 5.3832rem;
            }
            .buttonframe-22u {
              top: 0;
              border: solid 0.1rem #657d95;
              box-sizing: border-box;
              border-radius: 1.5rem;
              width: 20.8284rem;
              height: 4.1895rem;
              position: absolute;
              left: 0;
            }
          }
          .buttongithub-97X {
            height: 100%;
            position: relative;
            border-radius: 1.5rem;
            flex-shrink: 0;
            width: 20.8284rem;

            .sing-up-with-fb-JFK {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 10.6rem;
              height: 2.1rem;
              position: absolute;
              top: 1.3053rem;
              line-height: 1.5;
              color: #657d95;
              left: 6.9862rem;
              font-size: 1.4rem;
              font-weight: 500;
            }
            .buttonframe-Cbb {
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.1rem #657d95;
              box-sizing: border-box;
              border-radius: 1.5rem;
              width: 20.8284rem;
              height: 4.1895rem;
            }
            .icon-facebook-fill-icon-jbX {
              top: 0.5053rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.7rem;
              height: 3.189rem;
              position: absolute;
              left: 1.1862rem;
            }
          }
        }
        .or--cfK {
          color: #b0bac3;
          width: 6.6rem;
          height: 3.9rem;
          position: absolute;
          top: 48.6814rem;
          font-size: 2.6rem;
          left: 23.7633rem;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .bn-c-ti-khon-ng-nhp-vg1 {
          display: flex;
          width: 29.2rem;
          cursor: pointer;
          left: 0.2181rem;
          top: 43.5rem;
          white-space: nowrap;
          font-size: 1.8rem;
          font-weight: 400;
          align-items: baseline;
          height: 2.7rem;
          position: absolute;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';

          .bn-c-ti-khon-ng-nhp-vg1-sub-0 {
            color: #657d95;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .bn-c-ti-khon-ng-nhp-vg1-sub-1 {
          }
          .bn-c-ti-khon-ng-nhp-vg1-sub-2 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f9ed32;
          }
        }
        .buttoncreateacc-rbb {
          width: 32.1893rem;
          white-space: nowrap;
          display: flex;
          border-radius: 1rem;
          height: 4.5703rem;
          left: 11.4556rem;
          line-height: 1.2575;
          font-family: Ponnala, 'Source Sans Pro';
          top: 37.7888rem;
          text-align: center;
          font-size: 2.6rem;
          font-weight: 400;
          justify-content: center;
          background-color: #f9ed32;
          position: absolute;
          color: #000000;
          align-items: center;
        }
        .passwordinput-ido {
          border-radius: 2rem;
          width: 56.8047rem;
          height: 7.2363rem;
          position: absolute;
          left: 0;
          top: 27.5056rem;

          .mt-khu-TLV {
            position: absolute;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #657d95;
            white-space: nowrap;
            width: 8.2rem;
            height: 2.6rem;
            left: 0.1894rem;
            top: 0;
            font-family: Ponnala, 'Source Sans Pro';
          }
          .passwordinp-AVo {
            left: 0;
            top: 2.2851rem;
            border-radius: 2rem;
            width: 56.8047rem;
            height: 4.9512rem;
            position: absolute;

            .enter-your-password-here-i1X {
              width: 25.2rem;
              top: 1.3092rem;
              font-weight: 400;
              line-height: 1.5;
              color: rgba(125, 125, 125, 0.5);
              font-family: Poppins, 'Source Sans Pro';
              height: 3rem;
              position: absolute;
              left: 3.8181rem;
              font-size: 2rem;
              white-space: nowrap;
            }
            .input-DDB {
              height: 4.9512rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(176, 186, 195, 0.400000006);
              border-radius: 2rem;
              width: 56.8047rem;
            }
          }
        }
        .emailinput-XzZ {
          width: 56.8047rem;
          height: 7.2587rem;
          position: absolute;
          left: 0;
          top: 17.2rem;
          border-radius: 2rem;

          .email-Gx9 {
            font-family: Ponnala, 'Source Sans Pro';
            white-space: nowrap;
            left: 0.2181rem;
            line-height: 1.2575;
            color: #657d95;
            top: 0;
            font-size: 2rem;
            font-weight: 400;
            width: 4.8rem;
            height: 2.6rem;
            position: absolute;
          }
          .emailinp-zNM {
            border-radius: 2rem;
            width: 56.8047rem;
            height: 4.9512rem;
            position: absolute;
            left: 0;
            top: 2.3076rem;

            .enter-your-email-here-uVK {
              position: absolute;
              font-size: 2rem;
              line-height: 1.5;
              width: 21rem;
              height: 3rem;
              font-weight: 400;
              color: rgba(125, 125, 125, 0.5);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              left: 3.8181rem;
              top: 1.2924rem;
            }
            .input-CjK {
              width: 56.8047rem;
              height: 4.9512rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(176, 186, 195, 0.400000006);
              border-radius: 2rem;
            }
          }
        }
        .fullnameinput-KZ3 {
          top: 6.863rem;
          border-radius: 2rem;
          width: 56.8047rem;
          height: 8.0881rem;
          position: absolute;
          left: 0.0181rem;

          .h-tn-FSh {
            margin: 0rem 0rem 0.537rem 0.171rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #657d95;
            font-family: Ponnala, 'Source Sans Pro';
            white-space: nowrap;
          }
          .nameinp-xc1 {
            border-radius: 2rem;
            width: 100%;
            height: 4.9512rem;
            position: relative;

            .enter-your-fulll-name-here-WtR {
              width: 26rem;
              height: 3rem;
              position: absolute;
              left: 3.8181rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              top: 1.2518rem;
              color: rgba(125, 125, 125, 0.5);
              white-space: nowrap;
            }
            .input-RVb {
              left: 0;
              top: 0;
              background-color: rgba(176, 186, 195, 0.400000006);
              border-radius: 2rem;
              width: 56.8047rem;
              height: 4.9512rem;
              position: absolute;
            }
          }
        }
        .title-mxm {
          white-space: nowrap;
          width: 36.7rem;
          position: absolute;
          left: 11.1181rem;
          top: 0;
          font-size: 2.6rem;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
          height: 3.9rem;
          line-height: 1.5;
          color: #000000;
        }
      }
      .component-15-V85 {
        top: 2.1547rem;
        display: flex;
        align-items: center;
        width: 31.5084rem;
        height: 4.8rem;
        position: absolute;
        left: 24rem;

        .component-13-Qkq {
          margin-right: 1.0573rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .rectangle-2-9yK {
            margin: 0.41rem 0.821rem 0rem 0rem;
            width: 3.8303rem;
            height: 3.0748rem;
            cursor: pointer;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .transport-rsj {
            font-weight: 700;
            line-height: 1.2;
            color: #f17228;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 4rem;
          }
        }
        .food-Psf {
          line-height: 1.2;
          color: #ec3800;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 4rem;
          font-weight: 700;
        }
      }
    }
    .group-22-ub7 {
      top: 15.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 58.4998rem;
      height: 41.7rem;
      position: absolute;
      left: 12.5345rem;

      .auto-group-y43b-pxy {
        margin: 0rem 1.208rem 11rem 1.524rem;
        width: calc(100% - 2.7323rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .transp-MT7 {
          margin-right: 3.8968rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: Ponnala, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 12rem;
          color: #f17228;
        }
        .ellipse-2-HLm {
          height: 7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.5rem 1.874rem 0rem 0rem;
          width: 7.5973rem;
        }
        .rt-c89 {
          font-size: 12rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #f17228;
          font-family: Ponnala, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
      .auto-group-taxj-9tm {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;

        .f-7Ko {
          flex-shrink: 0;
          text-align: center;
          font-size: 12rem;
          font-weight: 400;
          color: #ec3800;
          font-family: Ponnala, 'Source Sans Pro';
          margin: 0.5rem 9.666rem 0rem 0rem;
          line-height: 1.2575;
          white-space: nowrap;
        }
        .ellipse-3-dJ9 {
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 7.649rem 2.6rem 0rem;
          width: 10.8511rem;
        }
        .ellipse-4-MV3 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.781rem 2.6rem 0rem;
          width: 10.8532rem;
          height: 10rem;
          object-fit: contain;
        }
        .d-VLM {
          text-align: center;
          font-size: 12rem;
          color: #ec3800;
          font-family: Ponnala, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-weight: 400;
          line-height: 1.2575;
          white-space: nowrap;
        }
      }
    }
  }
}
