
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.dat-hang-thanh-cong-x7T {
  box-sizing: border-box;
  padding: 2.9rem 15.45rem 40rem 23.85rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #ffffff;

  .auto-group-dsl1-eW5 {
    flex-shrink: 0;
    margin: 0rem 38.55rem 14.6rem 25.85rem;
    width: calc(100% - 64.4rem);
    display: flex;
    align-items: center;

    .rectangle-2-NBB {
      margin-right: 1.6rem;
      width: 7rem;
      height: 8.6rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .transport-food-J4q {
      line-height: 1.2;
      color: #f17228;
      font-family: Source Sans Pro, 'Source Sans Pro';
      align-items: baseline;
      cursor: pointer;
      display: flex;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 6.5rem;
      font-weight: 700;

      .transport-food-J4q-sub-0 {
      }
      .transport-food-J4q-sub-1 {
        color: #f17228;
        font-family: Source Sans Pro, 'Source Sans Pro';
        font-size: 6.5rem;
        font-weight: 700;
        line-height: 1.2;
      }
      .transport-food-J4q-sub-2 {
        font-size: 6.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: #ec3800;
        font-family: Source Sans Pro, 'Source Sans Pro';
      }
    }
  }
  .bn-t-hng-thnh-cng-vui-lng-ch-in-thoi-khi-hng-giao-n-YtH {
    max-width: 114.7rem;
    font-size: 6.5rem;
    font-weight: 700;
    color: #000000;
    font-family: Source Sans Pro, 'Source Sans Pro';
    flex-shrink: 0;
    margin-bottom: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;

    .bn-t-hng-thnh-cng-vui-lng-ch-in-thoi-khi-hng-giao-n-YtH-sub-0 {
      font-size: 6.5rem;
      font-weight: 700;
      line-height: 1.2;
      color: #ff2d00;
      font-family: Source Sans Pro, 'Source Sans Pro';
    }
    .bn-t-hng-thnh-cng-vui-lng-ch-in-thoi-khi-hng-giao-n-YtH-sub-1 {
      font-size: 6.5rem;
      font-weight: 700;
      line-height: 1.2;
      color: #313131;
      font-family: Source Sans Pro, 'Source Sans Pro';
    }
  }
  .group-17-8zu {
    margin: 0rem 24.95rem 0rem 16.45rem;
    width: calc(100% - 41.4rem);
    border-radius: 1rem;
    height: 7.7rem;
    display: flex;
    font-size: 5rem;
    line-height: 1.2000000763;
    align-items: center;
    border: solid 0.1rem #ec3800;
    box-sizing: border-box;
    background-color: #ffffff;
    justify-content: center;
    font-weight: 700;
    color: #ec3800;
    font-family: Source Sans Pro, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
