
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.gioithieu-VNZ {
  background-color: #ffffff;
  width: 100%;
  height: 145.7rem;
  position: relative;
  overflow: hidden;

  .auto-group-p1nq-27b {
    left: 0;
    top: 0;
    width: 154rem;
    height: 72.7rem;
    position: absolute;

    .component-1-kpH {
      height: 69.8rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 154rem;

      .auto-group-wr2m-Vms {
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.3rem 18.1rem 1.5rem 18rem;
        width: 100%;
        height: 7.8rem;
        display: flex;
        align-items: center;

        .logo-QP3 {
          margin: 0.2rem 14.4rem 0rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-2-jw7 {
            cursor: pointer;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 2.8rem;
            height: 3rem;
          }
          .transport-4yP {
            cursor: pointer;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 3.1rem;
            font-weight: 700;
            line-height: 1.2000000246;
            color: #f17228;
          }
          .food-n8h {
            font-weight: 700;
            line-height: 1.2000000246;
            color: #ec3800;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 3.1rem;
          }
        }
        .address-Jsj {
          margin: 1.1rem 5.9rem 0.4rem 0rem;
          height: calc(100% - 1.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .giao-ti--3KX {
            flex-shrink: 0;
            margin: 0rem 0.9rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2000000212;
            color: #000000;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-map-marker-A9F {
            margin-right: 0.9031rem;
            width: 1.7969rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-tqtb-Hjf {
            flex-shrink: 0;
            margin: 0.1rem 0rem 0.2rem 0rem;
            width: 32.1rem;
            height: calc(100% - 0.3rem);
            position: relative;

            .v-tr-hin-ti-PXo {
              position: absolute;
              top: 0;
              font-weight: 400;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              width: 9.8rem;
              height: 2.2rem;
              left: 0;
              font-size: 1.8rem;
              line-height: 1.2000000212;
              color: #000000;
            }
            .bnh-thnh-tp-h-ch-minh-h2h {
              color: #000000;
              white-space: nowrap;
              width: 22.4rem;
              position: absolute;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2000000212;
              height: 2.2rem;
              left: 9.7rem;
              top: 0;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
        }
        .search-PAR {
          flex-shrink: 0;
          margin: 1.1rem 2.1rem 1.1rem 0rem;
          box-sizing: border-box;
          padding-left: 2.3rem;
          width: 11.4rem;
          height: calc(100% - 2.2rem);

          .auto-group-hjyy-6ad {
            width: 100%;
            height: 100%;
          }
        }
        .auto-group-fxbb-TRB {
          height: 100%;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 4.9rem;
          box-sizing: border-box;
          padding: 1.2rem 2rem 1.1rem 2.3rem;
          display: flex;
          align-items: center;
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(247, 178, 0, 0.25);
          border-radius: 1rem;

          .icon-person-akh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.5rem;
            width: 1.7rem;
            height: 1.7rem;
            cursor: pointer;
          }
          .login-uny {
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2000000817;
            color: #f6b100;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .icon-cart-CGH {
          height: 3rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3rem;
        }
      }
      .frame-2-L7b {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 7.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-tvts-UDo {
          height: 11rem;
          position: relative;
          background-color: #efefef;
          flex-shrink: 0;
          margin-bottom: 4.4rem;
          width: 100%;

          .logo-1zR {
            left: 64rem;
            top: 5.5rem;
            display: flex;
            box-sizing: border-box;
            padding-left: 3.4rem;
            width: 23.5rem;
            height: 3.8rem;
            position: absolute;
            align-items: center;

            .transport-wNH {
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
              margin-right: 0.1rem;
              font-size: 3.1rem;
              color: #f17228;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              line-height: 1.2000000246;
            }
            .food-FNy {
              flex-shrink: 0;
              cursor: pointer;
              font-size: 3.1rem;
              font-weight: 700;
              line-height: 1.2000000246;
              color: #ec3800;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .gii-thiu-v-chng-ti-C3K {
            position: absolute;
            left: 63.7rem;
            font-size: 2.5rem;
            line-height: 1.2000000763;
            white-space: nowrap;
            width: 26.7rem;
            height: 3.1rem;
            top: 2.5rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .transport-food-l-g-eAD {
          font-weight: 700;
          line-height: 1.2000000246;
          color: #ec3800;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 3.4rem 18rem;
          font-size: 3.1rem;
        }
        .c-xy-dng-t-cui-nm-2023-ti-tp-hcm-vit-nam-transport-food-l-cng-ng-tin-cy-cho-mi-ngi-c-th-tm-kim-nh-gi-bnh-lun-cc-a-im-n-ung-nh-hng-qun-n-cafe-bar-tim-bnh-ti-vit-nam-t-website-tt-c-thnh-vin-t-bc-n-nam-transport-food-kt-ni-nhng-thc-khch-n-vi-cc-a-im-n-ung-ln-nh-c-t-nc-xAu {
          font-weight: 300;
          line-height: 1.2000000212;
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 3.6rem 18rem;
          max-width: 117rem;
          font-size: 1.8rem;
        }
        .n-thi-im-hin-ti-transport-food-vi-hng-trm-ngn-a-im-v-hng-trm-ngn-bnh-lun-hnh-nh-ti-vit-nam-hu-ht-cc-tnh-thnh-transport-food-l-cch-d-nht-bn-c-th-tm-kim-v-la-chn-a-im-tt-nht-cho-mnh-v-bn-b-1YV {
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 6.2rem 18rem;
          max-width: 117.7rem;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1.2000000212;
        }
        .tm-kim-d-dng-mRB {
          line-height: 1.2000000246;
          color: #ec3800;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 3.4rem 18rem;
          font-size: 3.1rem;
          font-weight: 700;
        }
        .cng-c-tm-kim-thng-minh-bng-cch-g-tn-a-im-hoc-a-ch-hoc-tn-ng-hoc-tn-mn-n-hoc-mc-ch-hoc-tn-khu-vc-h-thng-tm-kim-s-dng-gi-xem-nhanh-thng-tin-gip-bn-tm-a-im-nhanh-nht-5gm {
          max-width: 117.7rem;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1.2000000212;
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 18rem;
        }
      }
    }
    .phn-loi-r-rng-rb3 {
      left: 18rem;
      top: 68.9rem;
      font-size: 3.1rem;
      font-weight: 700;
      font-family: Source Sans Pro, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.8rem;
      position: absolute;
      color: #ec3800;
      width: 23.6rem;
      line-height: 1.2000000246;
    }
  }
  .bnh-lun-nh-gi-xPB {
    height: 3.8rem;
    left: 18rem;
    font-size: 3.1rem;
    line-height: 1.2000000246;
    font-family: Source Sans Pro, 'Source Sans Pro';
    white-space: nowrap;
    width: 29.3rem;
    position: absolute;
    top: 86.7rem;
    font-weight: 700;
    color: #ec3800;
  }
  .transport-food-phn-loi-cc-a-im-ra-rt-chi-tit-theo-mc-ch-loi-hnh-mn-n-gi-c-loi-m-thc-iu-ny-gip-cng-ng-lc-a-im-theo-mc-ch-ca-mnh-rt-nhanh-chng-G8y {
    width: 118rem;
    height: 4.4rem;
    position: absolute;
    font-weight: 300;
    font-family: Source Sans Pro, 'Source Sans Pro';
    left: 18rem;
    top: 76.1rem;
    font-size: 1.8rem;
    line-height: 1.2000000212;
    color: #000000;
  }
  .transport-food-cho-php-thnh-vin-chn-hnh-nh-vo-bnh-lun-nh-gi-a-im-vi-5-tiu-ch-mn-n-v-tr-khng-gian-gi-c-v-dch-v-iu-ny-gip-cng-ng-c-ci-nhn-tng-quan-v-cc-tiu-ch-ca-mi-a-im-do-c-th-ca-mi-a-im-khc-nhau-v-d-qun-cafe-cng-ng-s-quan-tm-n-khng-gian-i-vi-qun-n-th-cng-ng-quan-tm-n-cht-lng-mn-y-chnh-l-im-khc-bit-ca-foody-so-vi-cch-dch-v-khc-qrH {
    height: 6.5rem;
    top: 93.9rem;
    line-height: 1.2000000212;
    color: #000000;
    font-family: Source Sans Pro, 'Source Sans Pro';
    width: 117.8rem;
    position: absolute;
    left: 18rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
  .footer-UXs {
    width: 154rem;
    height: 38.5rem;
    position: absolute;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    top: 107.2rem;
    background-color: #212121;
    padding: 0rem 3.1rem 0rem 3rem;

    .menu-subscription-rights-b6h {
      width: 100%;
      height: 41.4rem;
      row-gap: 6.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .hr-7aq {
        width: 147.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .menu-subscription-rHX {
        width: 100%;
        height: 25.4rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .menu-bku {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 38.9rem;
          height: 18.6rem;

          .footer-menu-items-Yg9 {
            margin-right: 12.9rem;
            width: 6.7rem;
            height: 100%;
            flex-shrink: 0;

            .title-6hf {
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2000000694;
            }
            .items-EYy {
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;

              .item-1-n4h {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-uv1 {
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
              .item-3-4H7 {
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
              }
              .item-4-oVb {
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
              }
            }
          }
          .footer-menu-items-Yxy {
            margin-right: 12.6rem;
            width: 11.8rem;
            height: 100%;
            flex-shrink: 0;

            .title-uHj {
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              cursor: pointer;
              font-size: 2.2rem;
              font-weight: 700;
            }
            .items-3eq {
              padding-bottom: 3.4rem;
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;

              .item-1-bRT {
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: 400;
              }
              .item-2-L89 {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 1.8rem;
              }
              .item-3-449 {
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
              }
            }
          }
          .footer-menu-items-zTb {
            width: 16.7rem;
            height: 100%;
            flex-shrink: 0;

            .title-kBs {
              font-weight: 700;
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              font-size: 2.2rem;
            }
            .items-grD {
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;

              .item-1-3Ay {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-z6D {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-3-Xbw {
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-4-HLD {
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .follow-subscription-ctH {
          width: 48.3rem;
          height: 100%;
          flex-shrink: 0;

          .follow-us-aKK {
            margin-bottom: 4.3rem;
            display: flex;
            flex-direction: column;

            .title-XkM {
              margin-bottom: 4rem;
              font-size: 1.8rem;
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.2000000212;
              text-transform: uppercase;
              color: #f5f5f5;
              flex-shrink: 0;
            }
            .icons-UQh {
              flex-shrink: 0;
              opacity: 0.31;
              display: flex;
              align-items: center;

              .item-1-dHb {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.2rem;
              }
              .item-2-AYR {
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.5rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
              .item-3-WcH {
                color: #f5f5f5;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
              }
            }
          }
          .subscription-eyP {
            width: 100%;
            display: flex;
            flex-direction: column;

            .text-cfK {
              line-height: 1.3999999364;
              color: #bbbbbb;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.9rem;
              font-size: 1.8rem;
              font-weight: 700;
            }
            .text-field-button-Mcu {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 6rem;

              .text-field-76H {
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 33.4rem;
                height: 100%;
                position: relative;
                background-color: #424242;

                .envelope-rZf {
                  position: absolute;
                  left: 1.6rem;
                  font-weight: 900;
                  line-height: 1.3999999364;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  width: 10rem;
                  height: 3.4rem;
                  top: 1.25rem;
                  font-size: 2.4rem;
                  color: #adadad;
                  white-space: nowrap;
                }
                .text-Ziy {
                  top: 1.7rem;
                  font-weight: 400;
                  width: 14rem;
                  position: absolute;
                  left: 5rem;
                  font-size: 1.8rem;
                  line-height: 1.3999999364;
                  color: #adadad;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 2.6rem;
                }
              }
              .button-GNV {
                font-weight: 700;
                align-items: center;
                width: 13.3rem;
                white-space: nowrap;
                background: linear-gradient(272.84deg, #ffb700 147.72%, #ff8900 236.81%);
                border-radius: 0.8rem;
                height: 100%;
                font-size: 1.8rem;
                font-family: Source Sans Pro, 'Source Sans Pro';
                justify-content: center;
                text-align: center;
                color: #ffffff;
                display: flex;
                box-shadow: 0 1.4rem 3.2rem rgba(255, 178, 14, 0.2899999917), 0 0.5rem 0.8rem rgba(222, 151, 0, 0.2399999946);
                flex-shrink: 0;
                line-height: 1;
              }
            }
          }
        }
      }
      .hr-rights-gSD {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .hr-3Xf {
          margin-bottom: 1.6rem;
          width: 147.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .made-by-zSu {
          margin: 0rem 60.9rem 0rem 61.1rem;
          width: calc(100% - 122rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .made-with-by-Kk5 {
            margin-right: 1.4rem;
            font-weight: 400;
            line-height: 1.2;
            color: #f5f5f5;
            font-family: Exo 2, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.5rem;
            align-items: baseline;
            flex-shrink: 0;

            .made-with-by-Kk5-sub-0 {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .made-with-by-Kk5-sub-1 {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Exo 2, 'Source Sans Pro';
            }
            .made-with-by-Kk5-sub-2 {
              font-size: 1.3rem;
              font-weight: 900;
              line-height: 1.3846153846;
              color: #fdbc30;
              font-family: Font Awesome 5 Free, 'Source Sans Pro';
            }
            .made-with-by-Kk5-sub-3 {
              font-weight: 900;
              line-height: 1.3846153846;
              color: #ea6353;
              font-family: Font Awesome 5 Free, 'Source Sans Pro';
              font-size: 1.3rem;
            }
            .made-with-by-Kk5-sub-4 {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
          .kim-ng-tng-uy-j53 {
            font-weight: 700;
            line-height: 1.2;
            color: #f5f5f5;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
