
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 0.537rem;
}.line-6-B3P {
  height: 0.2rem;
  background-color: #ffffff;
  width: 100%;
}
