
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.tm-tnh-0d-akZ {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  width: 100%;
  overflow: hidden;
  position: relative;

  .group-42-PCD {
    box-sizing: border-box;
    padding: 1.9rem 18.1rem 1.9rem 18rem;
    width: 100%;
    height: 7.8rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;

    .rectangle-2-n7s {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.2rem 0.6rem 0rem 0rem;
      width: 2.8rem;
      height: 3rem;
      object-fit: cover;
    }
    .transport-Tzh {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 0.1rem 0rem 0rem;
      font-size: 3.1rem;
      font-weight: 700;
      line-height: 1.2000000246;
      color: #f17228;
      font-family: Source Sans Pro, 'Source Sans Pro';
    }
    .food-96q {
      font-weight: 700;
      line-height: 1.2000000246;
      color: #ec3800;
      font-family: Source Sans Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 14.4rem 0rem 0rem;
      font-size: 3.1rem;
    }
    .giao-ti--4Do {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 0.9rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2000000212;
      color: #000000;
      font-family: Source Sans Pro, 'Source Sans Pro';
    }
    .icon-map-marker-xa5 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.7rem 0.903rem 0rem 0rem;
      width: 1.7969rem;
      height: 2.5rem;
    }
    .auto-group-wrmb-47K {
      width: 32.1rem;
      height: calc(100% - 1.8rem);
      position: relative;
      flex-shrink: 0;
      margin: 1.2rem 19.4rem 0.6rem 0rem;

      .bnh-thnh-tp-h-ch-minh-MMK {
        width: 22.4rem;
        top: 0;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        height: 2.2rem;
        position: absolute;
        left: 9.7rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2000000212;
      }
      .v-tr-hin-ti-oj7 {
        width: 9.8rem;
        height: 2.2rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.2000000212;
        font-family: Source Sans Pro, 'Source Sans Pro';
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .auto-group-aayf-6y7 {
      margin-right: 4.9rem;
      box-sizing: border-box;
      background-color: #efefef;
      padding: 1.2rem 2rem 1.1rem 2.3rem;
      height: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(247, 178, 0, 0.25);
      border-radius: 1rem;
      flex-shrink: 0;

      .icon-person-ocd {
        margin-right: 0.5rem;
        width: 1.7rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .login-L6m {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2000000817;
        color: #f6b100;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .icon-cart-Paq {
      vertical-align: top;
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      object-fit: contain;
    }
  }
  .group-5-vqf {
    margin: 0rem 0rem 3.5rem 0.1rem;
    width: calc(100% - 0.1rem);
    height: 8.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-74-dk5 {
      height: 8rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      width: 154rem;
    }
    .rectangle-75-Azu {
      left: 0;
      top: 0;
      background-color: #ffe2e2;
      width: 154rem;
      height: 8.1rem;
      position: absolute;
    }
    .gi-hng-ca-bn-uSh {
      width: 20.7rem;
      height: 3.2rem;
      position: absolute;
      top: 2.5rem;
      font-size: 2.6rem;
      line-height: 1.2000000293;
      color: #ec3800;
      font-family: Source Sans Pro, 'Source Sans Pro';
      white-space: nowrap;
      left: 18rem;
      font-weight: 700;
    }
    .rectangle-7-nFb {
      position: absolute;
      left: 85.4rem;
      top: 0.4057rem;
      background-color: #ffffff;
      border-radius: 1.5rem;
      width: 50.5rem;
      height: 3.2326rem;
    }
    .min-ph-tin-ship-Vvh {
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      top: 0.822rem;
      font-weight: 300;
      line-height: 1.2;
      color: #000000;
      font-family: Source Sans Pro, 'Source Sans Pro';
      width: 17rem;
      left: 87.8rem;
      display: flex;
      font-size: 2rem;
    }
    .rectangle-76-C4R {
      top: 0.4rem;
      background-color: #ec3800;
      border-radius: 0 1.5rem 1.5rem 0;
      width: 9.8rem;
      height: 3.2rem;
      position: absolute;
      left: 126.1rem;
    }
    .icon-search-icon-W57 {
      object-fit: contain;
      vertical-align: top;
      width: 2.1rem;
      height: 1.7409rem;
      position: absolute;
      left: 129.7rem;
      top: 1.1517rem;
    }
  }
  .group-30-2JM {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 18rem 8.2rem 18rem;
    width: calc(100% - 36rem);
    align-items: center;
    display: flex;

    .group-6-M5j {
      box-sizing: border-box;
      padding: 1.4rem 7.3rem 1.4rem 4.1rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1000000015);
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 0rem 5.1rem 0.1rem;

      .rectangle-106-dow {
        width: 1.8rem;
        height: 1.8rem;
        border: solid 0.1rem #d4d4d4;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 0.9rem;
      }
      .sn-phm-A3B {
        margin-right: 51.8rem;
        line-height: 1.2000000212;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
        font-family: Source Sans Pro, 'Source Sans Pro';
      }
      .n-gi-4eM {
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.2000000898;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6rem;
        display: flex;
        color: #000000;
      }
      .s-lng-NQ9 {
        color: #000000;
        font-size: 1.7rem;
        line-height: 1.2000000898;
        font-weight: 300;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.4rem;
        display: flex;
      }
      .s-tin-Hn1 {
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 6.9rem;
        display: flex;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.2000000898;
        color: #000000;
        flex-shrink: 0;
      }
      .thao-tc-oVT {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.2000000898;
        color: #000000;
        font-family: Source Sans Pro, 'Source Sans Pro';
      }
    }
    .frame-3-6jT {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 117.9rem;

      .auto-group-gj6m-3Po {
        box-sizing: border-box;
        padding: 1.1rem 1.9rem 1.2rem 68rem;
        width: 100%;
        height: 5rem;
        background-color: #ffffff;
        flex-shrink: 0;

        .group-7-MQV {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .transport-food-6cy {
            margin: 0.1rem 0.5rem 0rem 0rem;
            font-weight: 700;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2rem;
            line-height: 1.2;
            color: #f17228;
            align-items: baseline;
            flex-shrink: 0;

            .transport-food-6cy-sub-0 {
            }
            .transport-food-6cy-sub-1 {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2;
              color: #ec3800;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
          .auto-group-qzhb-9mb {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 1.7rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border: dashed 0.1rem #000000;
            border-radius: 1.5rem;

            .nhp-voucher-Hso {
              color: #000000;
              white-space: nowrap;
              display: flex;
              font-weight: 200;
              line-height: 1.2000000477;
              font-family: Source Sans Pro, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 14.3rem;
              font-size: 1.6rem;
            }
            .auto-group-phpp-1Yu {
              font-weight: 400;
              line-height: 1.2000000477;
              align-items: center;
              display: flex;
              color: #ffffff;
              justify-content: center;
              width: 9.5rem;
              height: 100%;
              white-space: nowrap;
              border: dashed 0.1rem #000000;
              background-color: #ec3800;
              border-radius: 0 1.5rem 1.5rem 0;
              font-size: 1.6rem;
              font-family: Source Sans Pro, 'Source Sans Pro';
              box-sizing: border-box;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-ragy-Dey {
        padding: 1.1rem 1.9rem 1.2rem 4.1rem;
        height: 6rem;
        display: flex;
        align-items: center;
        border: dashed 0.1rem #b4b4b4;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: #ffffff;

        .auto-group-vgfk-vpH {
          margin: 1rem 0.9rem 0.9rem 0rem;
          width: 1.8rem;
          height: calc(100% - 1.9rem);
          border: solid 0.1rem #d4d4d4;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;

          .rectangle-105-TJR {
            box-sizing: border-box;
            background-color: #ffffff;
            width: 100%;
            height: 1.8rem;
            border: solid 0.1rem #d4d4d4;
          }
        }
        .chn-tt-c-Mub {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2000000212;
          font-family: Source Sans Pro, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 47.3rem 0rem 0rem;
          display: flex;
          color: #000000;
          white-space: nowrap;
        }
        .tng-thanh-ton-0-sn-phm-GWm {
          font-weight: 400;
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          flex-shrink: 0;
          margin: 0.1rem 2.35rem 0rem 0rem;
          line-height: 1.2000000212;
        }
        .vn-NJu {
          color: #ff0000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.2rem 4.05rem 0rem 0rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2125;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
        }
        .auto-group-mrih-U73 {
          background-color: #ff0000;
          width: 18rem;
          align-items: center;
          font-size: 2.1rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          height: 100%;
          justify-content: center;
          border-radius: 0.5rem;
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          font-weight: 300;
        }
      }
    }
  }
  .frame-4-VH3 {
    flex-shrink: 0;
    margin: 0rem 18rem 14.2rem 18rem;
    width: calc(100% - 36rem);
    align-items: center;
    display: flex;
    flex-direction: column;

    .xem-thm-oHj {
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      line-height: 1.2;
      margin: 0rem 0rem 4rem 0.4rem;
      font-weight: 300;
      font-family: Source Sans Pro, 'Source Sans Pro';
    }
    .auto-group-jsz1-VwF {
      margin-bottom: 3.7rem;
      width: 100%;
      height: 17.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .component-21-2gH {
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 6.4rem;
        width: 24.8rem;
        height: 100%;

        .auto-group-hpwr-xK3 {
          flex-shrink: 0;
          width: 100%;
          height: 10.9rem;
          position: relative;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:5d00e2b533e102c574259a254fbf4f5a32346443');

          .rectangle-41-JNu {
            height: 2.9rem;
            position: absolute;
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
            width: 10.3333rem;
          }
          .gim-15-Dkm {
            font-weight: 400;
            line-height: 1.2000000817;
            height: 1.7rem;
            position: absolute;
            top: 8.6rem;
            text-align: center;
            font-size: 1.4rem;
            color: #ff0000;
            font-family: Spline Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
            left: 1.9667rem;
          }
        }
        .auto-group-hgvx-tM7 {
          box-sizing: border-box;
          padding: 0.4rem 3.5rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-1lam-bWR {
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 3.7rem;

            .cm-tm-ti-jsX {
              height: 2.2rem;
              left: 3.55rem;
              font-family: Source Sans Pro, 'Source Sans Pro';
              align-items: center;
              font-size: 1.8rem;
              line-height: 1.2000000212;
              width: 10.7rem;
              top: 0;
              justify-content: center;
              font-weight: 700;
              color: #000000;
              white-space: nowrap;
              position: absolute;
              display: flex;
            }
            .nguyn-vn-nghi-g-vp-EJV {
              position: absolute;
              left: 0;
              line-height: 1.2000000817;
              font-family: Source Sans Pro, 'Source Sans Pro';
              width: 17.8rem;
              height: 1.7rem;
              top: 2rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 200;
              color: #000000;
              white-space: nowrap;
            }
          }
          .vn-WG1 {
            align-items: center;
            font-size: 1.4rem;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-weight: 700;
            line-height: 1.2000000817;
            color: #2572e5;
            font-family: Source Sans Pro, 'Source Sans Pro';
          }
        }
      }
      .component-24-c49 {
        flex-shrink: 0;
        margin-right: 6.3rem;
        width: 24.8rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-bmpp-ws7 {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:cdc8ccd072895468657def456e6cad60ec527f90');
          flex-shrink: 0;
          width: 100%;
          height: 10.9rem;
          position: relative;

          .rectangle-41-hLV {
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
          }
          .gim-15-E5X {
            font-family: Spline Sans, 'Source Sans Pro';
            width: 6.4rem;
            text-align: center;
            font-weight: 400;
            color: #ff0000;
            font-size: 1.4rem;
            line-height: 1.2000000817;
            white-space: nowrap;
            height: 1.7rem;
            position: absolute;
            left: 1.9667rem;
            top: 8.6rem;
          }
        }
        .auto-group-rfum-Woj {
          box-sizing: border-box;
          padding: 0.4rem 0.95rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-nwgh-fAq {
            height: 3.7rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;

            .cm-tm-ti-cLy {
              display: flex;
              align-items: center;
              line-height: 1.2000000212;
              color: #000000;
              left: 0.05rem;
              top: 0;
              justify-content: center;
              font-size: 1.8rem;
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
              height: 2.2rem;
              position: absolute;
              width: 22.8rem;
              white-space: nowrap;
            }
            .nguyn-vn-nghi-g-vp-uay {
              text-align: center;
              line-height: 1.2000000817;
              white-space: nowrap;
              position: absolute;
              top: 2rem;
              left: 0;
              font-size: 1.4rem;
              font-weight: 200;
              color: #000000;
              font-family: Source Sans Pro, 'Source Sans Pro';
              width: 22.9rem;
              height: 1.7rem;
            }
          }
          .vn-DLm {
            justify-content: center;
            font-size: 1.4rem;
            line-height: 1.2000000817;
            font-family: Source Sans Pro, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-weight: 700;
            color: #2572e5;
            white-space: nowrap;
          }
        }
      }
      .component-26-8id {
        flex-shrink: 0;
        margin-right: 6.1rem;
        width: 24.8rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-ngkb-5Ny {
          width: 100%;
          height: 10.9rem;
          position: relative;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:16da668597e56c5a194ae79acf6e3116ad820a42');
          flex-shrink: 0;

          .rectangle-41-q7F {
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
          }
          .gim-15-ZJ9 {
            height: 1.7rem;
            position: absolute;
            text-align: center;
            font-weight: 400;
            color: #ff0000;
            font-family: Spline Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.7rem;
            left: 1.8167rem;
            top: 8.6rem;
            font-size: 1.4rem;
            line-height: 1.2000000817;
          }
        }
        .auto-group-ebbf-FAy {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 1.1rem;
          width: 100%;
          align-items: center;

          .auto-group-bqsy-nRo {
            margin-bottom: 0.6rem;
            width: 100%;
            height: 3.7rem;
            position: relative;
            flex-shrink: 0;

            .cm-tm-ti-wJh {
              left: 4.7rem;
              top: 0;
              display: flex;
              color: #000000;
              width: 13.2rem;
              white-space: nowrap;
              justify-content: center;
              font-size: 1.8rem;
              line-height: 1.2000000212;
              font-family: Source Sans Pro, 'Source Sans Pro';
              height: 2.2rem;
              align-items: center;
              font-weight: 700;
              position: absolute;
            }
            .nguyn-vn-nghi-g-vp-Dn1 {
              font-size: 1.4rem;
              font-weight: 200;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              width: 22.6rem;
              height: 1.7rem;
              text-align: center;
              line-height: 1.2000000817;
              color: #000000;
              position: absolute;
              left: 0;
              top: 2rem;
            }
          }
          .vn-ueq {
            align-items: center;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2000000817;
            color: #2572e5;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .component-23-2jT {
        width: 24.8rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-hdtd-yPo {
          height: 10.9rem;
          position: relative;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:af158ede97260e159b188641e9e088a59d7ea361');
          flex-shrink: 0;
          width: 100%;

          .rectangle-41-vpq {
            border-radius: 0 1rem 0 0;
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
          }
          .gim-15-GNu {
            height: 1.7rem;
            position: absolute;
            left: 0.7167rem;
            color: #ff0000;
            font-family: Spline Sans, 'Source Sans Pro';
            width: 8.9rem;
            top: 8.6rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2000000817;
            white-space: nowrap;
          }
        }
        .auto-group-cjwf-xFj {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 1.2rem;
          width: 100%;
          align-items: center;

          .auto-group-tbv9-VFf {
            margin-bottom: 0.6rem;
            width: 100%;
            height: 3.7rem;
            position: relative;
            flex-shrink: 0;

            .cm-tm-ti-SAu {
              position: absolute;
              top: 0;
              line-height: 1.2000000212;
              color: #000000;
              width: 22.4rem;
              left: 0;
              justify-content: center;
              font-size: 1.8rem;
              height: 2.2rem;
              display: flex;
              align-items: center;
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
            }
            .nguyn-vn-nghi-g-vp-Yjj {
              width: 20.6rem;
              height: 1.7rem;
              left: 0.9rem;
              top: 2rem;
              font-size: 1.4rem;
              line-height: 1.2000000817;
              white-space: nowrap;
              position: absolute;
              text-align: center;
              font-weight: 200;
              color: #000000;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
          .vn-T61 {
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            color: #2572e5;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 700;
            line-height: 1.2000000817;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-ennm-Zuj {
      margin-left: 0.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .component-27-JsK {
        flex-shrink: 0;
        margin: 0rem 6.3rem 0.1rem 0rem;
        width: 24.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-sfbf-Eky {
          width: 100%;
          height: 10.9rem;
          position: relative;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:20ae776714dca84236d65741b60c8b6bd7efaab5');
          flex-shrink: 0;

          .rectangle-41-apq {
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
          }
          .gim-15-vNu {
            left: 1.9667rem;
            font-size: 1.4rem;
            font-family: Spline Sans, 'Source Sans Pro';
            white-space: nowrap;
            color: #ff0000;
            width: 6.4rem;
            height: 1.7rem;
            position: absolute;
            top: 8.6rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.2000000817;
          }
        }
        .auto-group-bmk5-pjB {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 0.35rem;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-h1ar-Ao3 {
            margin-bottom: 0.6rem;
            width: 100%;
            height: 3.7rem;
            position: relative;
            flex-shrink: 0;

            .cm-tm-ti-X7o {
              top: 0;
              align-items: center;
              justify-content: center;
              font-size: 1.8rem;
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
              height: 2.2rem;
              display: flex;
              left: 0.85rem;
              position: absolute;
              line-height: 1.2000000212;
              color: #000000;
              white-space: nowrap;
              width: 22.4rem;
            }
            .nguyn-vn-nghi-g-vp-cQ9 {
              position: absolute;
              left: 0;
              top: 2rem;
              text-align: center;
              color: #000000;
              width: 24.1rem;
              font-size: 1.4rem;
              font-weight: 200;
              line-height: 1.2000000817;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.7rem;
            }
          }
          .vn-K3f {
            display: flex;
            justify-content: center;
            font-weight: 700;
            line-height: 1.2000000817;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            font-size: 1.4rem;
            color: #2572e5;
            flex-shrink: 0;
          }
        }
      }
      .component-22-e5w {
        margin: 0.1rem 6.35rem 0rem 0rem;
        width: 24.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-aory-Apy {
          height: 10.9rem;
          position: relative;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:eee09ebe7d68fbe22e748fdf51b3ab478e72f37b');
          flex-shrink: 0;
          width: 100%;

          .rectangle-41-vp9 {
            height: 2.9rem;
            position: absolute;
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
            width: 10.3333rem;
          }
          .gim-15-Tp5 {
            top: 8.6rem;
            line-height: 1.2000000817;
            font-family: Spline Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.4rem;
            left: 1.9667rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            color: #ff0000;
            height: 1.7rem;
            position: absolute;
          }
        }
        .auto-group-9wwv-wjF {
          box-sizing: border-box;
          padding: 0.4rem 2.9rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-kmtv-5aZ {
            margin-bottom: 0.6rem;
            width: 100%;
            height: 3.7rem;
            position: relative;
            flex-shrink: 0;

            .cm-tm-ti-po3 {
              line-height: 1.2000000212;
              width: 18.4rem;
              font-size: 1.8rem;
              font-weight: 700;
              height: 2.2rem;
              display: flex;
              align-items: center;
              color: #000000;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 0;
              justify-content: center;
              left: 0.3rem;
            }
            .nguyn-vn-nghi-g-vp-KUu {
              height: 1.7rem;
              position: absolute;
              font-size: 1.4rem;
              font-weight: 200;
              color: #000000;
              font-family: Source Sans Pro, 'Source Sans Pro';
              width: 19rem;
              left: 0;
              top: 2rem;
              text-align: center;
              line-height: 1.2000000817;
              white-space: nowrap;
            }
          }
          .vn-DqB {
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-weight: 700;
            color: #2572e5;
            white-space: nowrap;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.2000000817;
            font-family: Source Sans Pro, 'Source Sans Pro';
          }
        }
      }
      .component-28-YsT {
        flex-shrink: 0;
        margin: 0.1rem 5.95rem 0rem 0rem;
        width: 24.9rem;
        height: 17.7rem;
        position: relative;

        .rectangle-46-fSH {
          left: 0.05rem;
          top: 0;
          background-color: #ffffff;
          width: 24.8rem;
          height: 17.7rem;
          position: absolute;
        }
        .cm-tm-ti-ZXf {
          position: absolute;
          align-items: center;
          font-weight: 700;
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          left: 0.65rem;
          top: 11.3rem;
          width: 23.6rem;
          height: 2.2rem;
          font-size: 1.8rem;
          line-height: 1.2000000212;
          display: flex;
          justify-content: center;
        }
        .rectangle-50-eJD {
          object-fit: cover;
          vertical-align: top;
          width: 24.8rem;
          height: 10.9rem;
          position: absolute;
          left: 0.05rem;
          top: 0;
        }
        .nguyn-vn-nghi-g-vp-ybP {
          width: 24.9rem;
          left: 0;
          top: 13.3rem;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.2000000817;
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          font-weight: 200;
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
        }
        .vn-GqP {
          height: 1.7rem;
          line-height: 1.2000000817;
          display: flex;
          position: absolute;
          align-items: center;
          font-weight: 700;
          color: #2572e5;
          font-family: Source Sans Pro, 'Source Sans Pro';
          width: 7.3rem;
          left: 8.8rem;
          top: 15.6rem;
          justify-content: center;
          font-size: 1.4rem;
          white-space: nowrap;
        }
        .rectangle-41-xy7 {
          top: 8rem;
          background-color: #ffcd4e;
          border-radius: 0 1rem 0 0;
          width: 10.3333rem;
          height: 2.9rem;
          position: absolute;
          left: 0.05rem;
        }
        .gim-15-hA1 {
          font-family: Spline Sans, 'Source Sans Pro';
          height: 1.7rem;
          top: 8.6rem;
          text-align: center;
          font-size: 1.4rem;
          color: #ff0000;
          white-space: nowrap;
          width: 6.3rem;
          position: absolute;
          left: 2.0667rem;
          font-weight: 400;
          line-height: 1.2000000817;
        }
      }
      .component-21-nhF {
        margin-bottom: 0.1rem;
        width: 24.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-w5t7-j6h {
          height: 10.9rem;
          position: relative;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:5d00e2b533e102c574259a254fbf4f5a32346443');
          flex-shrink: 0;
          width: 100%;

          .rectangle-41-H8D {
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
            left: 0;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
          }
          .gim-15-DGm {
            position: absolute;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 400;
            color: #ff0000;
            width: 6.4rem;
            height: 1.7rem;
            line-height: 1.2000000817;
            font-family: Spline Sans, 'Source Sans Pro';
            white-space: nowrap;
            left: 1.9667rem;
            top: 8.6rem;
          }
        }
        .auto-group-bauf-6rM {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.4rem 3.5rem;
          width: 100%;
          align-items: center;

          .auto-group-cshf-3mb {
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 3.7rem;
            position: relative;

            .cm-tm-ti-zgq {
              height: 2.2rem;
              left: 3.55rem;
              display: flex;
              line-height: 1.2000000212;
              color: #000000;
              width: 10.7rem;
              top: 0;
              justify-content: center;
              font-family: Source Sans Pro, 'Source Sans Pro';
              position: absolute;
              font-size: 1.8rem;
              font-weight: 700;
              white-space: nowrap;
              align-items: center;
            }
            .nguyn-vn-nghi-g-vp-JBj {
              font-weight: 200;
              line-height: 1.2000000817;
              white-space: nowrap;
              width: 17.8rem;
              height: 1.7rem;
              position: absolute;
              left: 0;
              top: 2rem;
              text-align: center;
              font-size: 1.4rem;
              color: #000000;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
          .vn-nsb {
            align-items: center;
            justify-content: center;
            font-weight: 700;
            color: #2572e5;
            font-family: Source Sans Pro, 'Source Sans Pro';
            display: flex;
            font-size: 1.4rem;
            line-height: 1.2000000817;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .footer-Q8H {
    box-sizing: border-box;
    padding: 0rem 3.1rem 0rem 3rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #212121;
    flex-shrink: 0;

    .menu-subscription-rights-w8D {
      row-gap: 6.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 41.4rem;

      .hr-s1s {
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 147.9rem;
      }
      .menu-subscription-DLd {
        width: 100%;
        height: 25.4rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .menu-xJD {
          height: 18.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 38.9rem;

          .footer-menu-items-VZ3 {
            flex-shrink: 0;
            margin-right: 12.9rem;
            width: 6.7rem;
            height: 100%;

            .title-dv9 {
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              font-size: 2.2rem;
              font-weight: 700;
            }
            .items-BAy {
              display: flex;
              flex-direction: column;
              width: 100%;
              row-gap: 1.6rem;

              .item-1-vuF {
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
              .item-2-TPP {
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
              }
              .item-3-bkV {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-4-Lxy {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
            }
          }
          .footer-menu-items-gmw {
            margin-right: 12.6rem;
            width: 11.8rem;
            height: 100%;
            flex-shrink: 0;

            .title-q93 {
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2000000694;
            }
            .items-Ah7 {
              padding-bottom: 3.4rem;
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;

              .item-1-JoK {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .item-2-4Gh {
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
              }
              .item-3-akq {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
            }
          }
          .footer-menu-items-KiR {
            width: 16.7rem;
            height: 100%;
            flex-shrink: 0;

            .title-sjw {
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
            }
            .items-1r9 {
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;

              .item-1-Aj3 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-7PP {
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
              }
              .item-3-G1P {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-4-QNV {
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
            }
          }
        }
        .follow-subscription-8pH {
          height: 100%;
          flex-shrink: 0;
          width: 48.3rem;

          .follow-us-gqo {
            flex-direction: column;
            margin-bottom: 4.3rem;
            display: flex;

            .title-qih {
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.2000000212;
              text-transform: uppercase;
              font-weight: 700;
              color: #f5f5f5;
              flex-shrink: 0;
              margin-bottom: 4rem;
              font-size: 1.8rem;
            }
            .icons-NCq {
              align-items: center;
              flex-shrink: 0;
              opacity: 0.31;
              display: flex;

              .item-1-KNy {
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.2rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
              .item-2-45f {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.5rem;
                font-size: 2.4rem;
              }
              .item-3-CBs {
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
            }
          }
          .subscription-8bK {
            display: flex;
            flex-direction: column;
            width: 100%;

            .text-Hz1 {
              flex-shrink: 0;
              margin-bottom: 3.9rem;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.3999999364;
              color: #bbbbbb;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .text-field-button-SM7 {
              height: 6rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .text-field-nfs {
                margin-right: 1.6rem;
                width: 33.4rem;
                height: 100%;
                position: relative;
                background-color: #424242;
                border-radius: 0.8rem;
                flex-shrink: 0;

                .envelope-8Uq {
                  top: 1.25rem;
                  font-size: 2.4rem;
                  font-weight: 900;
                  line-height: 1.3999999364;
                  color: #adadad;
                  width: 10rem;
                  height: 3.4rem;
                  position: absolute;
                  left: 1.6rem;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .text-cuo {
                  width: 14rem;
                  height: 2.6rem;
                  position: absolute;
                  left: 5rem;
                  font-size: 1.8rem;
                  white-space: nowrap;
                  top: 1.7rem;
                  font-weight: 400;
                  line-height: 1.3999999364;
                  color: #adadad;
                  font-family: Open Sans, 'Source Sans Pro';
                }
              }
              .button-utu {
                width: 13.3rem;
                line-height: 1;
                align-items: center;
                font-weight: 700;
                color: #ffffff;
                justify-content: center;
                box-shadow: 0 1.4rem 3.2rem rgba(255, 178, 14, 0.2899999917), 0 0.5rem 0.8rem rgba(222, 151, 0, 0.2399999946);
                background: linear-gradient(272.84deg, #ffb700 147.72%, #ff8900 236.81%);
                font-size: 1.8rem;
                white-space: nowrap;
                display: flex;
                border-radius: 0.8rem;
                flex-shrink: 0;
                height: 100%;
                text-align: center;
                font-family: Source Sans Pro, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .hr-rights-uXX {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .hr-fWh {
          margin-bottom: 1.6rem;
          width: 147.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .made-by-cB3 {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 60.9rem 0rem 61.1rem;
          width: calc(100% - 122rem);
          display: flex;

          .made-with-by-8QH {
            font-weight: 400;
            line-height: 1.2;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.4rem;
            font-size: 1.5rem;
            color: #f5f5f5;
            font-family: Exo 2, 'Source Sans Pro';
            display: flex;
            align-items: baseline;

            .made-with-by-8QH-sub-0 {
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
            }
            .made-with-by-8QH-sub-1 {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Exo 2, 'Source Sans Pro';
            }
            .made-with-by-8QH-sub-2 {
              font-size: 1.3rem;
              font-weight: 900;
              line-height: 1.3846153846;
              color: #fdbc30;
              font-family: Font Awesome 5 Free, 'Source Sans Pro';
            }
            .made-with-by-8QH-sub-3 {
              font-weight: 900;
              line-height: 1.3846153846;
              color: #ea6353;
              font-family: Font Awesome 5 Free, 'Source Sans Pro';
              font-size: 1.3rem;
            }
            .made-with-by-8QH-sub-4 {
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.5rem;
            }
          }
          .kim-ng-tng-uy-9kd {
            line-height: 1.2;
            color: #f5f5f5;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
