
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 154rem;
}.tm-tnh-HVB {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  width: 100%;
  overflow: hidden;
  position: relative;

  .group-42-zeV {
    width: 100%;
    height: 7.8rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.9rem 18.1rem 1.9rem 18rem;

    .rectangle-2-Tny {
      margin: 0.2rem 0.6rem 0rem 0rem;
      width: 2.8rem;
      height: 3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .transport-mYm {
      line-height: 1.2000000246;
      color: #f17228;
      font-family: Source Sans Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 0.1rem 0rem 0rem;
      font-size: 3.1rem;
      font-weight: 700;
    }
    .food-fe9 {
      font-family: Source Sans Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 14.4rem 0rem 0rem;
      font-size: 3.1rem;
      font-weight: 700;
      line-height: 1.2000000246;
      color: #ec3800;
    }
    .giao-ti--zgR {
      font-weight: 700;
      line-height: 1.2000000212;
      color: #000000;
      font-family: Source Sans Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.6rem 0.9rem 0rem 0rem;
      font-size: 1.8rem;
    }
    .icon-map-marker-Jh7 {
      margin: 0.7rem 0.903rem 0rem 0rem;
      width: 1.7969rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-uxpd-R13 {
      width: 32.1rem;
      height: calc(100% - 1.8rem);
      position: relative;
      flex-shrink: 0;
      margin: 1.2rem 19.4rem 0.6rem 0rem;

      .bnh-thnh-tp-h-ch-minh-8AM {
        width: 22.4rem;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.2000000212;
        font-family: Source Sans Pro, 'Source Sans Pro';
        height: 2.2rem;
        left: 9.7rem;
        top: 0;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
      }
      .v-tr-hin-ti-bpd {
        line-height: 1.2000000212;
        white-space: nowrap;
        height: 2.2rem;
        position: absolute;
        top: 0;
        font-size: 1.8rem;
        font-family: Source Sans Pro, 'Source Sans Pro';
        width: 9.8rem;
        left: 0;
        font-weight: 400;
        color: #000000;
      }
    }
    .auto-group-lgnd-WAu {
      margin-right: 4.9rem;
      height: 100%;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.2rem 2rem 1.1rem 2.3rem;
      display: flex;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(247, 178, 0, 0.25);
      background-color: #efefef;

      .icon-person-Dr1 {
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 1.7rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .login-ZQ5 {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.2000000817;
        color: #f6b100;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .icon-cart-EWD {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-gar7-mW9 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0rem 13.4rem 0.1rem;
    width: 100%;
    align-items: center;

    .group-34-gt1 {
      height: 8.1rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      width: 154rem;

      .rectangle-74-Dsw {
        background-color: #ffffff;
        width: 154rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .rectangle-75-AYH {
        background-color: #ffe2e2;
        width: 154rem;
        height: 8.1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .gi-hng-ca-bn-v1f {
        position: absolute;
        left: 18rem;
        font-size: 2.6rem;
        color: #ec3800;
        font-family: Source Sans Pro, 'Source Sans Pro';
        width: 20.7rem;
        height: 3.2rem;
        top: 2.5rem;
        font-weight: 700;
        line-height: 1.2000000293;
        white-space: nowrap;
      }
      .rectangle-7-oLM {
        height: 3.9rem;
        position: absolute;
        left: 85.4rem;
        top: 2.1rem;
        background-color: #ffffff;
        border-radius: 1.5rem;
        width: 50.5rem;
      }
      .min-ph-tin-ship-iy7 {
        height: 2.4rem;
        top: 2.85rem;
        display: flex;
        line-height: 1.2;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        width: 17rem;
        position: absolute;
        left: 87.8rem;
        font-size: 2rem;
        font-weight: 300;
        color: #000000;
      }
      .rectangle-76-2U1 {
        top: 2.1rem;
        background-color: #ec3800;
        border-radius: 0 1.5rem 1.5rem 0;
        width: 9.8rem;
        height: 3.9rem;
        position: absolute;
        left: 126.1rem;
      }
      .icon-search-icon-A4R {
        top: 3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 2.1004rem;
        position: absolute;
        left: 129.7rem;
      }
    }
    .frame-9-5hB {
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
      padding: 1.4rem 7.3rem 1.4rem 4.1rem;
      box-sizing: border-box;
      width: calc(100% - 36rem);
      background-color: #ffffff;
      margin: 0rem 18rem 3.5rem 18rem;

      .auto-group-agtq-BER {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 1.8rem;
        height: 1.8rem;
      }
      .sn-phm-uRK {
        line-height: 1.2000000212;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 51.8rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
        display: flex;
      }
      .n-gi-cqX {
        margin-right: 6rem;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.2000000898;
        white-space: nowrap;
        display: flex;
        color: #000000;
        font-family: Source Sans Pro, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .s-lng-wN1 {
        font-size: 1.7rem;
        line-height: 1.2000000898;
        display: flex;
        font-weight: 300;
        color: #000000;
        font-family: Source Sans Pro, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.4rem;
      }
      .s-tin-TbF {
        font-size: 1.7rem;
        white-space: nowrap;
        display: flex;
        font-weight: 300;
        line-height: 1.2000000898;
        color: #000000;
        font-family: Source Sans Pro, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 6.9rem;
      }
      .thao-tc-ntR {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 1.2000000898;
        color: #000000;
        font-family: Source Sans Pro, 'Source Sans Pro';
      }
    }
    .frame-8-68R {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 1.3rem 2.5rem 2.4rem 2.5rem;
      width: calc(100% - 35.9rem);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
      margin: 0rem 17.9rem 0.1rem 18rem;
      box-sizing: border-box;

      .auto-group-yacq-CBT {
        margin: 0rem 98rem 2.9rem 1.6rem;
        width: calc(100% - 99.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-4g5p-XUd {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
        }
        .cm-tm-ti-FvR {
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2000000212;
          color: #000000;
        }
      }
      .auto-group-jk5f-axh {
        width: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 2.25rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #d9d9d9;
        border: solid 0.1rem #eaeaea;

        .auto-group-qz2h-Xsw {
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          box-sizing: border-box;
          display: flex;
          background-color: #ffead2;
          padding: 1.05rem 84.2rem 1.05rem 2.5rem;
          width: 100%;
          height: 4.1rem;
          align-items: center;

          .auto-group-cgnd-ehf {
            margin-right: 0.7rem;
            width: 5.9rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-94-QB3 {
              border: solid 0.1rem #ff5e5e;
              box-sizing: border-box;
              background-color: #ffead2;
              width: 5.9rem;
              height: 1.6rem;
              position: absolute;
              left: 0;
              top: 0.15rem;
            }
            .sale-sc-KJ1 {
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              color: #ff3333;
              font-family: Source Sans Pro, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.2000000477;
              position: absolute;
              top: 0;
              display: flex;
              width: 5.5rem;
              height: 2rem;
              left: 0.2rem;
            }
          }
          .gim-thm-7k-ph-vn-chuyn-pEm {
            font-size: 1.6rem;
            line-height: 1.2000000477;
            font-family: Source Sans Pro, 'Source Sans Pro';
            flex-shrink: 0;
            color: #000000;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
          }
        }
        .auto-group-wnw3-iqw {
          margin: 0rem 3.2rem 0rem 1.6rem;
          width: calc(100% - 4.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-zgfj-rBT {
            margin: 0rem 3.9rem 0.15rem 0rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .rectangle-96-NQh {
            margin: 0rem 1.5rem 0.15rem 0rem;
            width: 7.2rem;
            height: 7.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cm-tm-ti-nguyn-vn-nghi-VkD {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2000000212;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 21.95rem 0.15rem 0rem;
            display: flex;
            color: #000000;
            font-family: Source Sans Pro, 'Source Sans Pro';
          }
          .vn-boF {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 1.2125;
            margin: 0rem 7.35rem 0.05rem 0rem;
            display: flex;
            font-weight: 300;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-1-WfK {
            align-items: center;
            font-weight: 300;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 7.85rem 0.05rem 0rem;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 1.2125;
          }
          .vn-E5X {
            align-items: center;
            font-weight: 300;
            line-height: 1.2125;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.55rem 0.05rem 0rem;
          }
          .auto-group-21yu-JbB {
            width: 9.3rem;
            height: 6.8rem;
            position: relative;
            flex-shrink: 0;
            margin-top: 0.55rem;

            .tm-sn-phm-tng-t-4yf {
              width: 9.3rem;
              display: flex;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 300;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              height: 5.9rem;
              position: absolute;
              left: 0;
              top: 0.9rem;
              align-items: center;
              color: #ff0000;
            }
            .xa-ioK {
              height: 2rem;
              font-weight: 300;
              color: #000000;
              left: 3.3rem;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              line-height: 1.2125;
              font-size: 1.6rem;
              font-family: Inter, 'Source Sans Pro';
              width: 2.8rem;
              position: absolute;
              top: 0;
              display: flex;
            }
          }
        }
      }
    }
    .group-33-vPb {
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.3rem 71.9rem 1.2rem 4.1rem;
      width: calc(100% - 36rem);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
      margin: 0rem 18rem 4rem 18rem;
      display: flex;
      align-items: center;

      .rectangle-98-pzm {
        margin-right: 0.1rem;
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .gim-thm-7000-ph-vn-chuyn-vi-n-t-20000-tr-ln-LiD {
        font-family: Source Sans Pro, 'Source Sans Pro';
        flex-shrink: 0;
        justify-content: center;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.2000000477;
        color: #000000;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
    }
    .group-32-naD {
      flex-shrink: 0;
      margin: 0rem 18rem 7.4rem 18rem;
      width: calc(100% - 36rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-bmhk-vAd {
        height: 5rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 1.9rem 1.2rem 68rem;
        width: 100%;

        .transport-food-Eh7 {
          margin: 0.1rem 0.5rem 0rem 0rem;
          line-height: 1.2;
          color: #f17228;
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;

          .transport-food-Eh7-sub-0 {
          }
          .transport-food-Eh7-sub-1 {
            font-family: Source Sans Pro, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2;
            color: #ec3800;
          }
        }
        .auto-group-dfdb-J4h {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border: dashed 0.1rem #000000;
          border-radius: 1.5rem;
          padding-left: 1.7rem;
          height: 100%;
          background-color: #ffffff;
          flex-shrink: 0;

          .nhp-voucher-qaR {
            font-size: 1.6rem;
            line-height: 1.2000000477;
            color: #000000;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 14.3rem;
            display: flex;
            font-weight: 200;
            flex-shrink: 0;
          }
          .auto-group-fzr5-ZWR {
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
            width: 9.5rem;
            font-weight: 400;
            line-height: 1.2000000477;
            border: dashed 0.1rem #000000;
            height: 100%;
            align-items: center;
            background-color: #ec3800;
            border-radius: 0 1.5rem 1.5rem 0;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            color: #ffffff;
            justify-content: center;
            box-sizing: border-box;
          }
        }
      }
      .auto-group-w4qw-nPB {
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 1.1rem 1.9rem 1.2rem 4.1rem;
        height: 6rem;
        display: flex;
        border: dashed 0.1rem #b4b4b4;
        box-sizing: border-box;
        width: 100%;
        align-items: center;

        .auto-group-axzr-J6d {
          margin: 0.1rem 0.9rem 0rem 0rem;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .chn-tt-c-WCh {
          color: #000000;
          font-family: Source Sans Pro, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.8rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2000000212;
          flex-shrink: 0;
          margin: 0.1rem 47.3rem 0rem 0rem;
        }
        .auto-group-xfkw-1fF {
          margin: 0.8rem 0.05rem 0.55rem 0rem;
          height: calc(100% - 1.35rem);
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.2000000212;
          font-family: Source Sans Pro, 'Source Sans Pro';
        }
        .vn-JuF {
          justify-content: center;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 300;
          line-height: 1.2125;
          color: #ff0000;
          white-space: nowrap;
          margin: 0.2rem 1.65rem 0rem 0rem;
        }
        .auto-group-3cfb-DFX {
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 18rem;
          display: flex;
          align-items: center;
          font-weight: 300;
          line-height: 1.2125;
          font-size: 2.1rem;
          color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          height: 100%;
          white-space: nowrap;
          background-color: #ff0000;
        }
      }
    }
    .group-31-rZP {
      margin: 0rem 18rem 0rem 17.85rem;
      width: calc(100% - 35.85rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .xem-thm-mwF {
        line-height: 1.2;
        color: #000000;
        white-space: nowrap;
        margin: 0rem 0rem 4rem 0.45rem;
        text-align: center;
        font-weight: 300;
        font-size: 3rem;
        font-family: Source Sans Pro, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-ciqq-6Tj {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 100%;
        height: 17.7rem;
        display: flex;

        .component-25-EZw {
          position: relative;
          flex-shrink: 0;
          margin-right: 6.15rem;
          width: 25.1rem;
          height: 100%;

          .rectangle-46-NAM {
            width: 24.8rem;
            height: 17.7rem;
            position: absolute;
            left: 0.15rem;
            top: 0;
            background-color: #ffffff;
          }
          .cm-tm-ti-Vkm {
            left: 0;
            top: 11.3rem;
            font-weight: 700;
            white-space: nowrap;
            position: absolute;
            font-size: 1.8rem;
            font-family: Source Sans Pro, 'Source Sans Pro';
            height: 2.2rem;
            color: #000000;
            width: 25.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.2000000212;
          }
          .rectangle-50-bJ1 {
            object-fit: cover;
            vertical-align: top;
            width: 24.8rem;
            height: 10.9rem;
            position: absolute;
            left: 0.15rem;
            top: 0;
          }
          .nguyn-vn-nghi-g-vp-vbB {
            width: 23.7rem;
            position: absolute;
            left: 0.7rem;
            text-align: center;
            line-height: 1.2000000817;
            font-family: Source Sans Pro, 'Source Sans Pro';
            height: 3.4rem;
            top: 13.3rem;
            font-size: 1.4rem;
            font-weight: 200;
            color: #000000;
          }
          .vn-DKP {
            justify-content: center;
            font-family: Source Sans Pro, 'Source Sans Pro';
            position: absolute;
            top: 15.6rem;
            left: 8.9rem;
            display: flex;
            line-height: 1.2000000817;
            white-space: nowrap;
            width: 7.3rem;
            height: 1.7rem;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 700;
            color: #2572e5;
          }
          .rectangle-41-ui1 {
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
            left: 0.15rem;
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
          }
          .gim-15-3JR {
            font-weight: 400;
            color: #ff0000;
            font-family: Spline Sans, 'Source Sans Pro';
            height: 1.7rem;
            position: absolute;
            top: 8.6rem;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.2000000817;
            white-space: nowrap;
            width: 6.6rem;
            left: 2.0167rem;
          }
        }
        .component-24-Yky {
          flex-shrink: 0;
          margin-right: 6.3rem;
          width: 24.8rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;

          .auto-group-gw2h-tZw {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:cdc8ccd072895468657def456e6cad60ec527f90');
            flex-shrink: 0;
            width: 100%;
            height: 10.9rem;
            position: relative;
            background-size: 100% 100%;

            .rectangle-41-3Sq {
              border-radius: 0 1rem 0 0;
              width: 10.3333rem;
              height: 2.9rem;
              position: absolute;
              left: 0;
              top: 8rem;
              background-color: #ffcd4e;
            }
            .gim-15-Nzu {
              width: 6.4rem;
              position: absolute;
              left: 1.9667rem;
              text-align: center;
              font-size: 1.4rem;
              line-height: 1.2000000817;
              height: 1.7rem;
              top: 8.6rem;
              font-weight: 400;
              color: #ff0000;
              font-family: Spline Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-nsvf-fj7 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0.95rem;
            width: 100%;
            align-items: center;

            .auto-group-jgky-1Y5 {
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              width: 100%;
              height: 3.7rem;
              position: relative;

              .cm-tm-ti-9uB {
                font-size: 1.8rem;
                color: #000000;
                display: flex;
                position: absolute;
                left: 0.05rem;
                align-items: center;
                height: 2.2rem;
                font-weight: 700;
                line-height: 1.2000000212;
                justify-content: center;
                top: 0;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                width: 22.8rem;
              }
              .nguyn-vn-nghi-g-vp-FhK {
                text-align: center;
                font-weight: 200;
                line-height: 1.2000000817;
                white-space: nowrap;
                width: 22.9rem;
                position: absolute;
                left: 0;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                height: 1.7rem;
                top: 2rem;
                font-size: 1.4rem;
              }
            }
            .vn-ZCD {
              font-weight: 700;
              line-height: 1.2000000817;
              color: #2572e5;
              align-items: center;
              font-size: 1.4rem;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
            }
          }
        }
        .component-26-5wF {
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 6.1rem;
          width: 24.8rem;
          height: 100%;

          .auto-group-8gz5-pdw {
            height: 10.9rem;
            position: relative;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:16da668597e56c5a194ae79acf6e3116ad820a42');
            flex-shrink: 0;
            width: 100%;

            .rectangle-41-yFw {
              position: absolute;
              left: 0;
              top: 8rem;
              background-color: #ffcd4e;
              border-radius: 0 1rem 0 0;
              width: 10.3333rem;
              height: 2.9rem;
            }
            .gim-15-JJD {
              left: 1.8167rem;
              top: 8.6rem;
              font-weight: 400;
              line-height: 1.2000000817;
              font-family: Spline Sans, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.7rem;
              height: 1.7rem;
              position: absolute;
              text-align: center;
              font-size: 1.4rem;
              color: #ff0000;
            }
          }
          .auto-group-8auy-PqT {
            box-sizing: border-box;
            padding: 0.4rem 1.1rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-jrry-juK {
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              width: 100%;
              height: 3.7rem;
              position: relative;

              .cm-tm-ti-skd {
                position: absolute;
                height: 2.2rem;
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                white-space: nowrap;
                width: 13.2rem;
                line-height: 1.2000000212;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                left: 4.7rem;
                top: 0;
                justify-content: center;
                font-weight: 700;
              }
              .nguyn-vn-nghi-g-vp-mLD {
                width: 22.6rem;
                text-align: center;
                color: #000000;
                line-height: 1.2000000817;
                font-family: Source Sans Pro, 'Source Sans Pro';
                height: 1.7rem;
                position: absolute;
                left: 0;
                top: 2rem;
                font-size: 1.4rem;
                font-weight: 200;
                white-space: nowrap;
              }
            }
            .vn-s8M {
              white-space: nowrap;
              display: flex;
              justify-content: center;
              font-weight: 700;
              color: #2572e5;
              flex-shrink: 0;
              align-items: center;
              font-size: 1.4rem;
              line-height: 1.2000000817;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
        }
        .component-23-P6h {
          flex-shrink: 0;
          width: 24.8rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;

          .auto-group-8265-8a5 {
            background-position: center;
            background-image: url('REPLACE_IMAGE:af158ede97260e159b188641e9e088a59d7ea361');
            flex-shrink: 0;
            width: 100%;
            height: 10.9rem;
            position: relative;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .rectangle-41-Utq {
              width: 10.3333rem;
              height: 2.9rem;
              position: absolute;
              left: 0;
              top: 8rem;
              background-color: #ffcd4e;
              border-radius: 0 1rem 0 0;
            }
            .gim-15-QnV {
              font-family: Spline Sans, 'Source Sans Pro';
              white-space: nowrap;
              width: 8.9rem;
              text-align: center;
              font-size: 1.4rem;
              line-height: 1.2000000817;
              font-weight: 400;
              color: #ff0000;
              height: 1.7rem;
              position: absolute;
              left: 0.7167rem;
              top: 8.6rem;
            }
          }
          .auto-group-gijb-WKj {
            box-sizing: border-box;
            padding: 0.4rem 1.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-ampm-FYD {
              margin-bottom: 0.6rem;
              width: 100%;
              height: 3.7rem;
              position: relative;
              flex-shrink: 0;

              .cm-tm-ti-oJq {
                font-size: 1.8rem;
                font-family: Source Sans Pro, 'Source Sans Pro';
                position: absolute;
                align-items: center;
                color: #000000;
                height: 2.2rem;
                left: 0;
                display: flex;
                font-weight: 700;
                line-height: 1.2000000212;
                white-space: nowrap;
                width: 22.4rem;
                justify-content: center;
                top: 0;
              }
              .nguyn-vn-nghi-g-vp-uMs {
                top: 2rem;
                font-size: 1.4rem;
                line-height: 1.2000000817;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                width: 20.6rem;
                height: 1.7rem;
                text-align: center;
                font-weight: 200;
                white-space: nowrap;
                position: absolute;
                left: 0.9rem;
              }
            }
            .vn-zu7 {
              font-family: Source Sans Pro, 'Source Sans Pro';
              font-weight: 700;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.2000000817;
              color: #2572e5;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
        }
      }
      .auto-group-yow9-KgV {
        flex-shrink: 0;
        margin-left: 0.15rem;
        display: flex;
        align-items: center;

        .component-27-FKF {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 6.3rem 0.1rem 0rem;
          width: 24.8rem;
          align-items: center;

          .auto-group-mfof-Ax1 {
            height: 10.9rem;
            position: relative;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:20ae776714dca84236d65741b60c8b6bd7efaab5');
            flex-shrink: 0;
            width: 100%;

            .rectangle-41-vRP {
              top: 8rem;
              background-color: #ffcd4e;
              border-radius: 0 1rem 0 0;
              width: 10.3333rem;
              height: 2.9rem;
              position: absolute;
              left: 0;
            }
            .gim-15-esB {
              width: 6.4rem;
              height: 1.7rem;
              position: absolute;
              top: 8.6rem;
              color: #ff0000;
              font-family: Spline Sans, 'Source Sans Pro';
              left: 1.9667rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2000000817;
              white-space: nowrap;
            }
          }
          .auto-group-6mrh-MFo {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 0.35rem;
            width: 100%;

            .auto-group-4281-tWd {
              position: relative;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              width: 100%;
              height: 3.7rem;

              .cm-tm-ti-38d {
                top: 0;
                width: 22.4rem;
                line-height: 1.2000000212;
                white-space: nowrap;
                height: 2.2rem;
                position: absolute;
                display: flex;
                justify-content: center;
                font-weight: 700;
                font-family: Source Sans Pro, 'Source Sans Pro';
                left: 0.85rem;
                align-items: center;
                font-size: 1.8rem;
                color: #000000;
              }
              .nguyn-vn-nghi-g-vp-kYq {
                font-weight: 200;
                line-height: 1.2000000817;
                top: 2rem;
                height: 1.7rem;
                position: absolute;
                left: 0;
                text-align: center;
                font-size: 1.4rem;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                width: 24.1rem;
                white-space: nowrap;
              }
            }
            .vn-r65 {
              justify-content: center;
              line-height: 1.2000000817;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              font-weight: 700;
              color: #2572e5;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
        }
        .component-22-B8M {
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.1rem 6.35rem 0rem 0rem;
          width: 24.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-4d7o-u4M {
            background-image: url('REPLACE_IMAGE:eee09ebe7d68fbe22e748fdf51b3ab478e72f37b');
            flex-shrink: 0;
            width: 100%;
            height: 10.9rem;
            position: relative;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;

            .rectangle-41-EsK {
              height: 2.9rem;
              position: absolute;
              left: 0;
              top: 8rem;
              background-color: #ffcd4e;
              border-radius: 0 1rem 0 0;
              width: 10.3333rem;
            }
            .gim-15-B1s {
              top: 8.6rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              font-family: Spline Sans, 'Source Sans Pro';
              width: 6.4rem;
              height: 1.7rem;
              left: 1.9667rem;
              white-space: nowrap;
              position: absolute;
              line-height: 1.2000000817;
              color: #ff0000;
            }
          }
          .auto-group-jxdb-UWm {
            padding: 0.4rem 2.9rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-nahw-2YH {
              position: relative;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              width: 100%;
              height: 3.7rem;

              .cm-tm-ti-P7w {
                display: flex;
                font-weight: 700;
                line-height: 1.2000000212;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                width: 18.4rem;
                height: 2.2rem;
                white-space: nowrap;
                left: 0.3rem;
                font-size: 1.8rem;
              }
              .nguyn-vn-nghi-g-vp-Vgm {
                top: 2rem;
                text-align: center;
                font-weight: 200;
                line-height: 1.2000000817;
                position: absolute;
                left: 0;
                font-size: 1.4rem;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                width: 19rem;
                height: 1.7rem;
              }
            }
            .vn-QHw {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              white-space: nowrap;
              justify-content: center;
              font-weight: 700;
              line-height: 1.2000000817;
              color: #2572e5;
              font-family: Source Sans Pro, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .component-28-XdT {
          margin: 0.1rem 5.95rem 0rem 0rem;
          width: 24.9rem;
          height: 17.7rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-46-F3f {
            width: 24.8rem;
            height: 17.7rem;
            position: absolute;
            left: 0.05rem;
            top: 0;
            background-color: #ffffff;
          }
          .cm-tm-ti-Bi1 {
            font-weight: 700;
            color: #000000;
            width: 23.6rem;
            position: absolute;
            font-size: 1.8rem;
            top: 11.3rem;
            justify-content: center;
            align-items: center;
            height: 2.2rem;
            left: 0.65rem;
            display: flex;
            line-height: 1.2000000212;
            font-family: Source Sans Pro, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-50-VCu {
            width: 24.8rem;
            height: 10.9rem;
            position: absolute;
            left: 0.05rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .nguyn-vn-nghi-g-vp-pky {
            top: 13.3rem;
            font-size: 1.4rem;
            font-weight: 200;
            line-height: 1.2000000817;
            color: #000000;
            width: 24.9rem;
            position: absolute;
            left: 0;
            font-family: Source Sans Pro, 'Source Sans Pro';
            height: 1.7rem;
            text-align: center;
            white-space: nowrap;
          }
          .vn-ibT {
            position: absolute;
            color: #2572e5;
            top: 15.6rem;
            display: flex;
            justify-content: center;
            line-height: 1.2000000817;
            width: 7.3rem;
            align-items: center;
            font-weight: 700;
            font-family: Source Sans Pro, 'Source Sans Pro';
            height: 1.7rem;
            left: 8.8rem;
            font-size: 1.4rem;
            white-space: nowrap;
          }
          .rectangle-41-pPb {
            top: 8rem;
            background-color: #ffcd4e;
            border-radius: 0 1rem 0 0;
            width: 10.3333rem;
            height: 2.9rem;
            position: absolute;
            left: 0.05rem;
          }
          .gim-15-wz1 {
            position: absolute;
            top: 8.6rem;
            text-align: center;
            font-size: 1.4rem;
            white-space: nowrap;
            width: 6.3rem;
            height: 1.7rem;
            left: 2.0667rem;
            font-weight: 400;
            line-height: 1.2000000817;
            color: #ff0000;
            font-family: Spline Sans, 'Source Sans Pro';
          }
        }
        .component-21-4Yq {
          margin-bottom: 0.1rem;
          width: 24.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;

          .auto-group-ckuj-c4Z {
            background-image: url('REPLACE_IMAGE:5d00e2b533e102c574259a254fbf4f5a32346443');
            flex-shrink: 0;
            width: 100%;
            height: 10.9rem;
            position: relative;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;

            .rectangle-41-ZVb {
              width: 10.3333rem;
              height: 2.9rem;
              position: absolute;
              left: 0;
              top: 8rem;
              background-color: #ffcd4e;
              border-radius: 0 1rem 0 0;
            }
            .gim-15-6kR {
              color: #ff0000;
              height: 1.7rem;
              position: absolute;
              top: 8.6rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2000000817;
              font-family: Spline Sans, 'Source Sans Pro';
              width: 6.4rem;
              left: 1.9667rem;
              white-space: nowrap;
            }
          }
          .auto-group-wsuz-o93 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.4rem 3.5rem;
            width: 100%;

            .auto-group-t5tu-MAZ {
              margin-bottom: 0.6rem;
              width: 100%;
              height: 3.7rem;
              position: relative;
              flex-shrink: 0;

              .cm-tm-ti-uC5 {
                align-items: center;
                justify-content: center;
                width: 10.7rem;
                height: 2.2rem;
                display: flex;
                position: absolute;
                color: #000000;
                line-height: 1.2000000212;
                font-family: Source Sans Pro, 'Source Sans Pro';
                left: 3.55rem;
                font-size: 1.8rem;
                font-weight: 700;
                top: 0;
                white-space: nowrap;
              }
              .nguyn-vn-nghi-g-vp-CBB {
                position: absolute;
                left: 0;
                text-align: center;
                font-weight: 200;
                white-space: nowrap;
                color: #000000;
                font-family: Source Sans Pro, 'Source Sans Pro';
                width: 17.8rem;
                height: 1.7rem;
                top: 2rem;
                font-size: 1.4rem;
                line-height: 1.2000000817;
              }
            }
            .vn-h7w {
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              line-height: 1.2000000817;
              color: #2572e5;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .footer-QY9 {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #212121;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 3.1rem 0rem 3rem;

    .menu-subscription-rights-wHB {
      height: 41.4rem;
      row-gap: 6.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .hr-G4Z {
        width: 147.9rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .menu-subscription-p65 {
        width: 100%;
        height: 25.4rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .menu-m1K {
          align-items: center;
          flex-shrink: 0;
          margin-right: 38.9rem;
          height: 18.6rem;
          display: flex;

          .footer-menu-items-JX3 {
            margin-right: 12.9rem;
            width: 6.7rem;
            height: 100%;
            flex-shrink: 0;

            .title-T93 {
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              font-size: 2.2rem;
              font-weight: 700;
            }
            .items-z8y {
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;

              .item-1-jcM {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-5RK {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-3-pNu {
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
              }
              .item-4-mJ9 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
              }
            }
          }
          .footer-menu-items-WWd {
            flex-shrink: 0;
            margin-right: 12.6rem;
            width: 11.8rem;
            height: 100%;

            .title-42M {
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
              font-size: 2.2rem;
              font-weight: 700;
            }
            .items-b2H {
              padding-bottom: 3.4rem;
              width: 100%;
              row-gap: 1.6rem;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;

              .item-1-w69 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
              }
              .item-2-g3j {
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
              }
              .item-3-DpM {
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .footer-menu-items-yHj {
            width: 16.7rem;
            height: 100%;
            flex-shrink: 0;

            .title-KsP {
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 1.2000000694;
              color: #ffffff;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 3.9rem;
            }
            .items-4py {
              flex-direction: column;
              width: 100%;
              row-gap: 1.6rem;
              display: flex;

              .item-1-crV {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-2-xvM {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .item-3-v6V {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .item-4-GRF {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Source Sans Pro, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .follow-subscription-cED {
          flex-shrink: 0;
          width: 48.3rem;
          height: 100%;

          .follow-us-m77 {
            margin-bottom: 4.3rem;
            display: flex;
            flex-direction: column;

            .title-K8d {
              margin-bottom: 4rem;
              line-height: 1.2000000212;
              text-transform: uppercase;
              color: #f5f5f5;
              font-size: 1.8rem;
              font-weight: 700;
              font-family: Source Sans Pro, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icons-3KX {
              opacity: 0.31;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-1-zkZ {
                flex-shrink: 0;
                margin-right: 2.2rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-2-jTF {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.5rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
              }
              .item-3-U9w {
                font-weight: 400;
                line-height: 1;
                color: #f5f5f5;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
              }
            }
          }
          .subscription-1ff {
            display: flex;
            flex-direction: column;
            width: 100%;

            .text-B4M {
              font-weight: 700;
              line-height: 1.3999999364;
              color: #bbbbbb;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.9rem;
              font-size: 1.8rem;
            }
            .text-field-button-WsK {
              width: 100%;
              height: 6rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .text-field-sC5 {
                height: 100%;
                position: relative;
                background-color: #424242;
                border-radius: 0.8rem;
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 33.4rem;

                .envelope-24y {
                  position: absolute;
                  font-size: 2.4rem;
                  line-height: 1.3999999364;
                  font-family: Font Awesome 5 Free, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 10rem;
                  height: 3.4rem;
                  left: 1.6rem;
                  top: 1.25rem;
                  font-weight: 900;
                  color: #adadad;
                }
                .text-881 {
                  top: 1.7rem;
                  color: #adadad;
                  width: 14rem;
                  height: 2.6rem;
                  position: absolute;
                  left: 5rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.3999999364;
                  font-family: Open Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .button-Rcu {
                font-size: 1.8rem;
                font-weight: 700;
                color: #ffffff;
                justify-content: center;
                box-shadow: 0 1.4rem 3.2rem rgba(255, 178, 14, 0.2899999917), 0 0.5rem 0.8rem rgba(222, 151, 0, 0.2399999946);
                line-height: 1;
                display: flex;
                flex-shrink: 0;
                width: 13.3rem;
                height: 100%;
                white-space: nowrap;
                align-items: center;
                background: linear-gradient(272.84deg, #ffb700 147.72%, #ff8900 236.81%);
                border-radius: 0.8rem;
                text-align: center;
                font-family: Source Sans Pro, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .hr-rights-2sb {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .hr-bQu {
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 147.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .made-by-8vd {
          margin: 0rem 60.9rem 0rem 61.1rem;
          width: calc(100% - 122rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .made-with-by-sNR {
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
            margin-right: 1.4rem;
            font-weight: 400;
            color: #f5f5f5;
            font-family: Exo 2, 'Source Sans Pro';
            align-items: baseline;
            font-size: 1.5rem;
            line-height: 1.2;

            .made-with-by-sNR-sub-0 {
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
            }
            .made-with-by-sNR-sub-1 {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Exo 2, 'Source Sans Pro';
            }
            .made-with-by-sNR-sub-2 {
              font-weight: 900;
              line-height: 1.3846153846;
              color: #fdbc30;
              font-family: Font Awesome 5 Free, 'Source Sans Pro';
              font-size: 1.3rem;
            }
            .made-with-by-sNR-sub-3 {
              color: #ea6353;
              font-family: Font Awesome 5 Free, 'Source Sans Pro';
              font-size: 1.3rem;
              font-weight: 900;
              line-height: 1.3846153846;
            }
            .made-with-by-sNR-sub-4 {
              line-height: 1.2;
              color: #f5f5f5;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
          .kim-ng-tng-uy-taM {
            font-weight: 700;
            line-height: 1.2;
            color: #f5f5f5;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
