
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
a{
  text-decoration: none;
}
input {
	border: none;
}
body {
  width: 152rem;
}.thanh-ton-suB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}
.thanh-ton-suB .group-42-Bus {
  box-sizing: border-box;
  padding: 1.9rem 18.1rem 1.9rem 18rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-42-Bus .rectangle-2-5VT {
  margin: 0.2rem 0.6rem 0rem 0rem;
  width: 2.8rem;
  height: 3rem;
  vertical-align: top;
  flex-shrink: 0;
  border-radius: 50%;
}
.thanh-ton-suB .group-42-Bus .transport-nPs {
  margin: 0.2rem 0.1rem 0rem 0rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.2000000246;
  color: #f17228;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-42-Bus .food-sgD {
  margin: 0.2rem 14.4rem 0rem 0rem;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.2000000246;
  color: #ec3800;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.giao-ti--CCh {
  margin: 0.6rem 0.9rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-42-Bus .icon-map-marker-K2R {
  margin: 0.7rem 0.903rem 0rem 0rem;
  width: 1.7969rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.auto-group-z2yy-cnD {
  margin: 1.2rem 19.4rem 0.6rem 0rem;
  width: 32.1rem;
  height: calc(100% - 1.8rem);
  position: relative;
  flex-shrink: 0;
}
.thanh-ton-suB .group-42-Bus .auto-group-z2yy-cnD .bnh-thnh-tp-h-ch-minh-KwX {
  width: 22.4rem;
  height: 2.2rem;
  position: absolute;
  left: 9.7rem;
  top: 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thanh-ton-suB .group-42-Bus .auto-group-z2yy-cnD .v-tr-hin-ti-Dn1 {
  width: 9.8rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thanh-ton-suB .group-42-Bus .auto-group-dn73-Ka9 {
  margin-right: 4.9rem;
  box-sizing: border-box;
  padding: 1.2rem 2rem 1.1rem 2.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(247, 178, 0, 0.25);
  background-color: #efefef;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thanh-ton-suB .group-42-Bus .auto-group-dn73-Ka9 .icon-person-Sem {
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thanh-ton-suB .group-42-Bus .auto-group-dn73-Ka9 .login-y8u {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2000000817;
  color: #f6b100;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.icon-cart-2cy {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.icon-cart-2cy:hover{
  filter: brightness(1.3);
}
.thanh-ton-suB .group-10-mKf {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 8.1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ec3800;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe2e2;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF {
  margin: 0rem 18.1rem 1.6rem 18rem;
  box-sizing: border-box;
  padding: 2.3rem 1.3rem 2.2rem 1.3rem;
  width: calc(100% - 36.1rem);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF .frame-6-xf3 {
  margin-bottom: 0.2rem;
  width: 19.5rem;
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF .frame-6-xf3 .icon-smart-home-hcd {
  width: 0.9337rem;
  height: 0.1041rem;
  position: absolute;
  left: 0.9338rem;
  top: 1.5625rem;
  object-fit: contain;
  vertical-align: top;
}
.thanh-ton-suB .group-9-euF .frame-6-xf3 .group-12-DL5 {
  width: 19.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.thanh-ton-suB .group-9-euF .frame-6-xf3 .group-12-DL5 .auto-group-hjkq-kqo {
  margin-right: 0.2988rem;
  width: 2.8012rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF .frame-6-xf3 .group-12-DL5 .a-ch-nhn-hng-J6d {
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ff0000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF .auto-group-fyq3-cND {
  margin: 0rem 2.6rem 0rem 0.4rem;
  width: calc(100% - 3rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF .auto-group-fyq3-cND .auto-group-ui1w-LZ7 {
  margin-right: 26.8rem;
  width: 78.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.thanh-ton-suB .group-9-euF .auto-group-fyq3-cND .auto-group-ui1w-LZ7 .ng-thu-trm-phng-13-bnh-thnh-thnh-ph-h-ch-minh-70000-vit-nam-gcy {
  width: 72.5rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thanh-ton-suB .group-9-euF .auto-group-fyq3-cND .auto-group-ui1w-LZ7 .rectangle-107-YQH {
  width: 8.3rem;
  height: 2.4rem;
  position: absolute;
  left: 70rem;
  top: 0;
  border: solid 0.1rem #ff0000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.thanh-ton-suB .group-9-euF .auto-group-fyq3-cND .auto-group-ui1w-LZ7 .mc-nh-GLH {
  width: 6.4rem;
  height: 2rem;
  position: absolute;
  left: 71.1rem;
  top: 0.25rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ff0000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thay-i-M6q {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #5072eb;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thay-i-M6q:hover{
  color: #002ccb;
}
.thay-i-M6q:active{
  color: rgba(0, 44, 203, 0.748);
}
.thanh-ton-suB .group-36-sL5 {
  margin: 0rem 18rem 1.5rem 18rem;
  width: calc(100% - 36rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-tm8d-zfb {
  box-sizing: border-box;
  padding: 1.3rem 5.3rem 1.3rem 1.9rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-tm8d-zfb .sn-phm-XQd {
  margin-right: 56.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-tm8d-zfb .n-gi-3Ny {
  margin-right: 6rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2000000898;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-tm8d-zfb .s-lng-Ng9 {
  margin-right: 18.5rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2000000898;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-tm8d-zfb .thnh-tin-J41 {
  display: flex;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.2000000898;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK {
  box-sizing: border-box;
  padding: 0.9rem 2.5rem 0.4rem 1.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .cm-tm-ti-ZVj {
  margin-bottom: 0.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .group-13-Hgd {
  margin: 0rem 0rem 0.4rem 0.6rem;
  box-sizing: border-box;
  padding: 2.6rem 2.45rem 2.7rem 3.5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .group-13-Hgd .rectangle-96-QFT {
  margin-right: 1.5rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .group-13-Hgd .cm-tm-ti-nguyn-vn-nghi-Y6m {
  margin-right: 25.75rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .group-13-Hgd .vn-fBP {
  margin: 0.1rem 7.35rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .group-13-Hgd .item-1-mER {
  margin: 0.1rem 21.45rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .group-13-Hgd .vn-Gws {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .auto-group-k59k-RuK .line-6-bz9 {
  margin-left: 2.5rem;
  width: 0.5371rem;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b {
  width: 100%;
  height: 8.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b .auto-group-krf7-35T {
  box-sizing: border-box;
  padding: 1rem 15.4rem 0.9rem 2.05rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #d6d6d6;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b .auto-group-krf7-35T .li-nhn--N7j {
  margin: 0rem 0.35rem 3.7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b .auto-group-krf7-35T .auto-group-aaiv-Giu {
  box-sizing: border-box;
  padding: 0.45rem 1.1rem;
  width: 22rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #a8a8a8;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b .auto-group-9jph-Wt9 {
  box-sizing: border-box;
  padding: 1.3rem 5.05rem 1.3rem 2.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #d6d6d6;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b .auto-group-9jph-Wt9 .ph-vn-chuyn--ejT {
  margin: 0rem 40.95rem 3.6rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2000000212;
  color: #149500;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .auto-group-fw89-h1b .auto-group-9jph-Wt9 .vn-ASu {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .group-14-UCh {
  box-sizing: border-box;
  padding: 1.5rem 4.9rem 1.5rem 1.604rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #d6d6d6;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .group-14-UCh .voucher-1Cd {
  margin-right: 2.4048rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2000000602;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .group-14-UCh .auto-group-fyj3-Wv5 {
  margin: 0.1rem 0.61rem 0rem 0rem;
  width: 5.905rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2000000477;
  color: #ff3333;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ff5e5e;
  box-sizing: border-box;
  background-color: #ffead2;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .group-14-UCh .gim-thm-7k-ph-vn-chuyn-BWR {
  margin: 0.1rem 63.876rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-36-sL5 .group-15-LRw .group-14-UCh .vn-gTB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV {
  margin: 0rem 18.1rem 6rem 18rem;
  width: calc(100% - 36.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.auto-group-dzzm-i8y {
  margin-bottom: 0.1rem;
  box-sizing: border-box;
  padding: 3.6rem 35.3rem 3.5rem 1.8rem;
  width: 100%;
  height: 10.8rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
  transition: transform 0.5s ease;
}
.auto-group-dzzm-i8y a:hover{
 border-color: #f17228;
 color: #f17228;
}
.thanh-ton-suB .group-37-PcV .auto-group-dzzm-i8y .phng-thc-thanh-ton-DrR {
  margin-right: 0.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-ftpq-8iV {
  margin-right: 2rem;
  width: 14.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #adadad;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.auto-group-kfqv-bc5 {
  margin-right: 2rem;
  width: 10.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #adadad;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-dzzm-i8y .auto-group-kowo-Gy7 {
  width: 25.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ff0000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ff0000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-wxn1-kNV {
  margin-bottom: 0.1rem;
  box-sizing: border-box;
  padding: 2.3rem 30.8rem 2.3rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-wxn1-kNV .thanh-ton-khi-nhn-hng-Gbj {
  margin-right: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-wxn1-kNV .ph-thu-h-0-vn-u-i-v-ph-vn-chuyn-nu-c-p-dng-c-vi-ph-thu-h-PAZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed {
  box-sizing: border-box;
  padding: 2.05rem 4.95rem 1.95rem 81.2rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #fff5e5;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-rvq9-ZUM {
  margin-bottom: 1.4rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-rvq9-ZUM .tng-tin-hng-ic9 {
  margin-right: 9.75rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-rvq9-ZUM .vn-pfB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-d4mf-YbB {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-d4mf-YbB .ph-vn-chuyn-Hof {
  margin: 0.2rem 9.75rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-d4mf-YbB .vn-Q7b {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-foyj-Xi1 {
  margin: 0rem 0.3rem 2rem 0rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-foyj-Xi1 .voucher-4hw {
  margin: 0rem 15.75rem 0.1rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-foyj-Xi1 .vn-BnZ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-dmkm-XLd {
  margin-right: 0.25rem;
  width: calc(100% - 0.25rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-dmkm-XLd .tng-thanh-ton--5N9 {
  margin: 0.1rem 5.4rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-xrih-Sed .auto-group-dmkm-XLd .vn-Pdj {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-eqcq-K1b {
  box-sizing: border-box;
  padding: 0.8rem 5rem 1.1rem 1.8rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #cccccc;
  background-color: #ffffff;
  flex-shrink: 0;
}
.thanh-ton-suB .group-37-PcV .auto-group-eqcq-K1b .nhn-t-hng-ng-ngha-vi-vic-bn-ng-nhn-n-SM7 {
  margin: 0.3rem 45.2rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2000000212;
  color: #000000;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-16-Jnd {
  width: 19.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ff0000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.group-16-Jnd:hover{
  background-color: #d10000;
  transform: scale(1.1);
}
.group-16-Jnd:active{
  transform: scale(1.1);
  background-color: #810000;
}
.thanh-ton-suB .footer-wah {
  box-sizing: border-box;
  padding: 0rem 3.1rem 0rem 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #212121;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 {
  width: 100%;
  height: 41.4rem;
  row-gap: 6.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-D2R {
  width: 147.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR {
  width: 100%;
  height: 25.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB {
  margin-right: 38.9rem;
  height: 18.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw {
  margin-right: 12.9rem;
  width: 6.7rem;
  height: 100%;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw .title-bof {
  margin-bottom: 3.9rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2000000694;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw .items-8Yh {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw .items-8Yh .item-1-Geu {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw .items-8Yh .item-2-Qm7 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw .items-8Yh .item-3-xGq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-4Hw .items-8Yh .item-4-6dw {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-dtm {
  margin-right: 12.6rem;
  width: 11.8rem;
  height: 100%;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-dtm .title-ap1 {
  margin-bottom: 3.9rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2000000694;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-dtm .items-XUM {
  box-sizing: border-box;
  padding-bottom: 3.4rem;
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-dtm .items-XUM .item-1-fqT {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-dtm .items-XUM .item-2-cVo {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-dtm .items-XUM .item-3-ZR3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd {
  width: 16.7rem;
  height: 100%;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd .title-TWR {
  margin-bottom: 3.9rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2000000694;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd .items-bcd {
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd .items-bcd .item-1-M61 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd .items-bcd .item-2-JG9 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd .items-bcd .item-3-eau {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .menu-hyB .footer-menu-items-JNd .items-bcd .item-4-AZF {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho {
  width: 48.3rem;
  height: 100%;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .follow-us-F4u {
  margin-bottom: 4.3rem;
  display: flex;
  flex-direction: column;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .follow-us-F4u .title-Pgu {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2000000212;
  text-transform: uppercase;
  color: #f5f5f5;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .follow-us-F4u .icons-KaZ {
  opacity: 0.31;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .follow-us-F4u .icons-KaZ .item-1-sc5 {
  margin-right: 2.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .follow-us-F4u .icons-KaZ .item-2-nj3 {
  margin-right: 2.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .follow-us-F4u .icons-KaZ .item-3-vaM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #f5f5f5;
  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .subscription-4Rf {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .subscription-4Rf .text-DZT {
  margin-bottom: 3.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3999999364;
  color: #bbbbbb;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .subscription-4Rf .text-field-button-kZP {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.text-field-WHf {
  margin-right: 2.6rem;
  width: 30.4rem;
  height: 100%;
  position: relative;
  background-color: #424242;
  border-radius: 0.8rem;
  flex-shrink: 0;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3999999364;
  color: #adadad;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.text-field-WHf input{
  padding-left: 20px;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .menu-subscription-MeR .follow-subscription-6ho .subscription-4Rf .text-field-button-kZP .button-4Tb {
  width: 13.3rem;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Source Sans Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.4rem 3.2rem rgba(255, 178, 14, 0.2899999917), 0 0.5rem 0.8rem rgba(222, 151, 0, 0.2399999946);
  background: linear-gradient(272.84deg, #ffb700 147.72%, #ff8900 236.81%);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.button-4Tb:hover{
  transform: scale(1.1);
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .hr-2Yq {
  margin-bottom: 1.6rem;
  width: 147.9rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb {
  margin: 0rem 60.9rem 0rem 61.1rem;
  width: calc(100% - 122rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .made-with-by-iRf {
  margin-right: 1.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #f5f5f5;
  font-family: Exo 2, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .made-with-by-iRf .made-with-by-iRf-sub-0 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .made-with-by-iRf .made-with-by-iRf-sub-1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #f5f5f5;
  font-family: Exo 2, 'Source Sans Pro';
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .made-with-by-iRf .made-with-by-iRf-sub-2 {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.3846153846;
  color: #fdbc30;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .made-with-by-iRf .made-with-by-iRf-sub-3 {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.3846153846;
  color: #ea6353;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .made-with-by-iRf .made-with-by-iRf-sub-4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
}
.thanh-ton-suB .footer-wah .menu-subscription-rights-5S1 .hr-rights-U1X .made-by-Nsb .kim-ng-tng-uy-GtR {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #f5f5f5;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.linkhome{
  display: flex;
}
.linkhome:hover,.giao-ti--CCh:hover,.auto-group-dn73-Ka9:hover{
  transform: scale(1.1);
}
.gt-link{
  color: #adadad;
}
.gt-link:hover{
  color: white;
  font-size: 120%;
}
.icons-KaZ a{
  filter: brightness(0.7);
}
.icons-KaZ a:hover{
  transform: scale(1.3);
  filter: brightness(1.5);
}